/* основная страница битрикса */

/*@media (max-width: 1599px){
    h2 {
        font-size: 45px;
    }
    .white__bg__bitrix {
        width: 360px;
    }
    .strange__background {
        transform: translateX(-180px) scale(0.8) translateY(-100px);
    }
    .container__bitrix {
        width: 1200px;
        height: 680px;
    }
    .descr__right {
        margin-top: 300px;
    }
    .container__header2 {
        margin-right: 100px;
    }
    .container__header2__text {
        font-size: 45px;
        margin-right: 20px;
    }
    .main__title__bitrix {
        margin-top: 310px;
        margin-bottom: 48px;
    }
    .title__confusion {
        margin: 0;
    }
    .right__descr__wrapper{
        display: flex;
        transform: scale(0.8);
    }
    .left__descr h2{
        font-size: 50px;
    }
     .green__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .title__advantages__text {
        display: inline-flex;
        font-size: 40px;
        justify-content: center;
        align-items: center;
    }
    .left__section__gold__partner__bitrix__title {
        font-size: 45px;
    }
    .right__section__gold__partner__bitrix__title {
        font-size: 45px;
    }
    .gold__partner__bitrix__img {
        position: fixed;
        transform: scale(0.71) translateX(-520px);
    }
    .training {
        margin: 0 auto;
    }
    .training__title {
        display: flex;
        justify-content: space-between;
        margin-top: 300px;
    }
    .training__wrapper {
        margin: 0 auto;
    }
    .subtitle24 {
        font-size: 20px;
    }
    .training__container {
        padding: 32px 0;
    }
    .training__right__descr__text {
        width: 483px;
    }
    .left-container{
        flex-basis: 60%;
    }
   
    .training__title {
        margin-left: 90px;
    }
    .green-folder__container h2 {
        font-size: 55px;
    }
    .container__mailer {
        background-size: 80%;
    }
} 

@media  (max-width: 415px){
    .header {
        display: none;
    }
    .strange__background {
        transform: scale(0.45) translateX(590px) translateY(-510px);
    }
    .container__header2__text {
        font-size: 24px;
    }
    .main__title__bitrix {
        font-size: 32px;
    }
    .title__descr {
        transform: translateX(590px);
    }
    .descr__right__forbes {
        display: none;
    }
    .container__bitrix__all {
        height: 350px;
    }
    .descr__confusion__top {
        width: 200px;
        font-size: 12px;
    }
    .descr__block__title__top {
        display: flex;
        margin-bottom: 16px;
    }
    .title__confusion {
        justify-content: center;
        margin-top: 45px;
        font-size: 24px;
        margin-left: 16px;
    }
    .left__img {
        transform: scale(0.3) translateY(-840px);
        margin-left: 10px;
    }
    .wrapper__confusion {
        display: flex;
        flex-direction: column;
    }
    .left__section {
        height: 300px;
    }
    .right__section {
        margin-top: -650px;
        margin-left: 16px;
        gap: 16px;
    }
    .wrapper__bitrix {
        display: flex;
        flex-direction: column;
        margin-left: -65px;
    }
    .top__block {
        margin-bottom: 200px;
        height: 200px;
    }
    .left__descr {
        display: flex;
        flex-basis: auto;
    }
    .right__descr {
        transform: translateY(-160px) translateX(20px);
    }
    .left__descr__title {
        font-size: 32px;
    }
    .right__descr__wrapper {
        transform: translateY(-860px) translateX(70px);
        background-size: 50%;
    }
    .descr__bitrix__block__text {
        font-size: 12px;
    }
    .descr__top__title {
        font-size: 32px;
    }
    .descr__top__text {
        font-size: 16px;
    }
    .descr__bottom__title {
        font-size: 32px;
    }
    .descr__bottom__text {
        font-size: 16px;
    }
    .bottom__block {
        margin-top: 350px;
    }
    .descr__bitrix__block__text__bottom {

    }
}
*/
/* дополнительные страницы битрикса */

@media (max-width: 1399px) {
    .form__mailer {
        max-width: 90vw;
        height: auto;
        margin: 0 auto;
    }
    .mailer {
        flex-direction: column;
    }
    .mailer button {
        position:static;
        margin-top: 18px;
        width: 100%;
        padding: 24px 0;
    }
    .container__mailer {
        height: auto;
        transform: none;
        padding: 709px 0 119px 0;
    }
    .mailer input[type=text] {
        width: 100%;
    }
    .mailer input[type=tel] {
        margin-right: 0;
    }
    .mailer input[type=tel], .input[type=email] {
        width: 47%;
    }
    .mailer__second-row {
        display: flex;
        gap: 10px;
        justify-content: space-between;
    }
    .mailer__descr {
        margin-top: 8px;
    }
}

@media (max-width: 1300px) {
    .nav__items {
        width: 992px;
    }
    .tabs__item {
        width: 185px !important;
        padding: 18px 4px 20px 4px;
    }
    .BitrixCloud__white-bg {
        width: 992px;
        margin: 0 auto;
    }
    .BitrixEnter__white-bg {
       max-width: 992px;
    }
    .BitrixPortal__white-bg {
        width: 992px;
        margin: 0 auto;
    }
    .BitrixCloud__container-title {
        padding: 80px 27px 73px 31px;
    }
    .BitrixPortal__container-title {
        padding: 80px 27px 32px 31px;
    }
    h1 {
        font-size: 84px;
    }
    .BitrixPortal__title {
        font-size: 77px;
    }
    .Bitrix__container-descr-time {
        margin-top: 12px;
    }
    .BitrixPortal__title-time {
        right: 30px;
        top: 190px;
    }
    .BitrixCloud__title-descr {
        width: 582px;
    }
    h2 {
        font-size: 52px;
    }
    .Bitrix-whyWe__wrapper {
        padding: 0 86px 41px 33px;
    }
    .Bitrix__table {
        margin-top: 20px;
        padding-left: 53px;
    }
    .template__table__row {
        padding: 25px 0;
    }
    .subtitle24 {
        font-size: 20px;
    }
    .template__table__row-right__descr-text {
        width: 483px;
    }
    .Bitrix__rates-wrapper {
        padding: 0 33px;
    }
    .Bitrix__container-rates-services {
        margin-top: 40px;
        height: auto;
    }
    .Bitrix__container-rates {
        width: 926px;
    }
    .Bitrix__container-rates__types {
        gap: 22px;
        padding-right: 9px;
    }
    .BitrixPortal__container-rates__types {
        gap: 0;
    }
    .Bitrix__container-rate__typeItem {
        position: relative;
    }
    .Bitrix__rate__typePrice {
        position: absolute;
        bottom: 32px;
        margin-top: 0;
    }
    .BitrixPortal__rate__price {
        bottom: 15px;
    }
    .Bitrix__rate__basDescr {
        width: 130px;
    }
    .Bitrix__rate__stanDescr {
        width: 141px;
    }
    .Bitrix__rate__profDescr {
        width: 202px;
    }
    .Bitrix__rate__enterDescr {
        width: 160px;
    }
    .caption16 {
        font-size: 14px;
    }
    .Bitrix__container-rates__support {
        margin: 5px 0 52px;
    }
    .Bitrix__container-rates__support-row {
        width: 893px;
    }
    .Bitrix__container-rates__support-name {
        width: 192px;
    }
    .Bitrix__container-rates__support-scale {
        justify-content: inherit;
        padding: 0 77px 0 13px;
        gap: 133px;
    }
    .support-scale__3col {
        gap: 133px;
    }
    .support-scale__2col {
        gap: 133px;
    }
    .BitrixPortal__container-rates__support-scale {
        gap: 98px;
    }
    .BitrixPortal__container-rates__support-scale-3col {
        justify-content: end;
        gap: 100px;
        padding-right: 32px;
    }
    .Bitrix__container-services {
        width: 926px;
    }
    .Bitrix__services-prices {
        padding: 16px 15px 16px 0px;
        gap: 60px;
    }
    .Bitrix__services__name {
        width: 210px;
    }
    .Bitrix__container-services__priceItem {
        width: 700px;
        gap: 90px;
        padding: 0 24px 0 41px;
    }
    .Bitrix-introduction__wrapper {
        align-items: center;
        gap: 79px;
        margin-top: 124px;
        padding: 40px 33px 40px 33px;
    }
    .Bitrix-introduction__subtitle {
        margin-top: 30px;
    }
    .Bitrix-introduction__descr {
        margin-top: 30px;
    }
}

@media (max-width: 992px) {
    .container__mobile-nav-btn {
        width: 768px;
        display: flex;
        justify-content: end;
        margin: 0 auto;
    }
    .mobile-nav-btn-wrap {
        display: block !important;
        margin-right: 0 !important;
    }
    .caption16 {
        font-size: 12px;
    }
    .mobile-nav {
        display: flex !important;
    }
    .header {
        display: none;
    }
    .nav__items {
        width: 90vw;
        justify-content: space-between;
    }
    .tabs__items {
        width: auto !important;
    }
    .BitrixCloud__white-bg {
        width: 768px;
        margin: 0 auto;
    }
    .BitrixEnter__white-bg {
        max-width: 768px;
    }
    .BitrixEnter__container-descr {
        padding-inline: 70px;
        padding: 25px 117px 64px 131px;
    }
    .BitrixEnter__title-time {
        top: 130px;
    }
    .benefits-section__container {
        padding-inline: 45px;
    }
    .benefits-section__item {
        padding-left: 0;
    }
    .canbe-list .benefits-section__item {
        padding-left: 10px;
    }
    .BitrixPortal__white-bg {
        width: 768px;
        margin: 0 auto;
    }
    .Bitrix__container-title {
        padding: 60px 27px 55px 31px;
    }
    .BitrixPortal__container-title {
        padding: 40px 27px 22px 31px;
    }
    .BitrixPortal__title {
        font-size: 58px;
    }
    .BitrixPortal__title-time {
        right: 36px;
        top: 118px;
    }
    .rates-block992 {
        display: none;
    }
    .rates-none992 {
        display: flex !important;
    }
    .rates-wrapper-block992 {
        display: none;
    }
    .rates-wrapper-none992 {
        display: block;
    }
    h1 {
        font-size: 63px;
    }
    .Bitrix__title-descr {
        width: 420px;
    }
    h2 {
        font-size: 41px;
    }
    .Bitrix-whyWe__wrapper {
        padding: 0px 93px 40px 33px;
    }
    .subtitle24 {
        font-size: 16px;
    }
    .template__table {
        margin: 20px 14px 0 14px;
        padding-left: 60px;
    }
    .template__table__row {
        padding: 16px 0;
        flex-direction: column;
    }
    .template__table__row-left {
        gap: 20px;
    }
    .template__table__row-left__title-text {
        width: 41px;
    }
    .template__table__row-right__descr-text {
        width: 550px;
        margin-top: 8px;
    }
    .Bitrix__rates-wrapper {
        padding: 0 33px;
    }
    .Bitrix__container-rates-services {
        margin: 0;
        width: 702px;
        height: auto;
        padding: 0;
        border: none;
    }
    .Bitrix__container-rates-wrapperMobile {
        width: 550px;
        height: auto;
        border-radius: 25px;
        margin: 30px auto 30px auto;
        padding: 25px 20px 11px 20px;
        border: 1px solid #707077;
    }
    .BitrixPortal__container-rates-wrapperMobile {
        width: 457px;
    }
    .Bitrix__container-services-wrapperMobile {
        position: relative;
        gap: 0px;
        padding-right: 9px;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .Bitrix__container-rates {
        width: 457px;
        margin: 0 auto;
        border: none;
    }
    .Bitrix__container-rates__types {
        gap: 0px;
        padding-right: 9px;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .Bitrix__rate__typeName {
        font-size: 32px;
        font-family: "Unbounded-Regular";
        font-weight: 600;
    }
    .Bitrix__container-rate__typeItem {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        margin-left: 15px;
    }
    .Bitrix__rate__typePrice {
        position: static;
        margin-top: 19px;
        font-size: 28px;
    }
    .Bitrix__container-services__priceItem {
        text-align: center;
    }
    .Bitrix__services__separPrice {
        font-size: 18px;
    }
    .BitrixPortal__services__separPrice {
        width: 100px;
    }
    .Bitrix__services__separPrice-large {
        width: 86px;
    }
    .Bitrix__rate__typeDescr {
        font-size: 18px;
    }
    .Bitrix__rate__basDescr {
        width: 280px;
    }
    .Bitrix__rate__stanDescr {
        width: 175px;
    }
    .Bitrix__rate__profDescr {
        width: 230px;
    }
    .Bitrix__rate__enterDescr {
        width: 280px;
    }
    .Bitrix__services-title {
        color: #F5F6FF;
        font-family: "Unbounded-Regular";
        font-size: 38px;
        font-weight: 700;
        padding: 0;
        margin: 24px 40px;
        width: 300px;
    }
    .Bitrix__services__priceItem {
        color: #F5F6FF;
        font-family: "Unbounded-Regular";
        font-size: 38px;
        font-weight: 400;
        margin: 5px 34px;
    }
    .Bitrix__container-services__header-price {
        margin-top: 226px;
    }
    .Bitrix__container-services__header-price__row {
        display: flex;
        gap: 10px;
    }
    .Bitrix__container-services__header-price__row:not(:last-child) {
        border-bottom: 1px solid #707077;
    }
    .Bitrix__container-rates__support {
        margin: 5px 0 52px;
    }
    .Bitrix__container-rates__support-row {
        width: 457px;
        gap: 66px;
        align-items: center;
    }
    .BitrixPortal__container-rates__support-row {
        width: 415px;
    }
    .BitrixPortal__container-rates__support-row {
        width: 415px;
    }
    .Bitrix__container-rates__support-header-nonActive {
        color: #707077;
    }
    .Bitrix__container-rates__support-name {
        width: 230px;
        margin-left: 15px;
    }
    h4 {
        font-size: 20px;
    }
    .Bitrix__container-rates__support-scale {
        justify-content: inherit;
        padding: 0 77px 0 13px;
        gap: 133px;
    }
    .support-scale__3col {
        gap: 133px;
    }
    .support-scale__2col {
        gap: 133px;
    }
    .Bitrix__container-services {
        position: absolute;
        width: 549px;
        left: -46px;
        background-color: #232323;
    }
    .BitrixPortal__container-services {
        width: 456px;
        left: 156px;
    }
    .Bitrix__services-prices {
        padding: 16px 15px 16px 0px;
        gap: 60px;
    }
    .Bitrix__services__name {
        width: 290px;
    }
    .Bitrix__container-services__priceItem {
        width: 700px;
        gap: 90px;
        padding: 0 24px 0 0px;
    }
    .Bitrix-introduction__wrapper {
        align-items: center;
        gap: 35px;
        margin-top: 110px;
        padding: 0px 40px 40px 40px;
    }
    .BitrixPortal-introduction__wrapper {
        gap: 40px;
        margin-top: 86px;
        padding: 0px 40px 40px 40px;
    }
    .Bitrix-introduction__container-btn {
        width: 210px;
        height: 260px;
        /* transform: scale(.8); */
    }
    .Bitrix-introduction__btn-img svg {
        width: 200px;
        height: 255px;
    }
    .Bitrix-introduction__btn-header {
        top: 149px;
        right: 32px;
    }
    .Bitrix-introduction__btn-text {
        font-size: 18px;
    }
    .Bitrix-introduction__title {
        font-size: 32px;
    }
    .BitrixPortal-introduction__title {
        font-size: 40px;
    }
    .Bitrix-introduction__subtitle {
        margin-top: 20px;
    }
    .Bitrix-introduction__descr {
        margin-top: 20px;
    }
    .Bitrix__rates-services__btn {
        margin-top: -105px;
        right: 106px;
    }
    .BitrixPortal__rates-services__btn {
        margin-top: -7px;
        right: 151px;
    }
}

@media (max-width: 768px) {
    .container__mobile-nav-btn {
        width: 360px;
        display: flex;
        justify-content: end;
    }
    .mobile-nav-btn-wrap {
        display: block !important;
        margin-right: 0 !important;
    }
    .caption16 {
        font-size: 12px;
    }
    .mobile-nav {
        display: flex !important;
    }
    .header {
        display: none;
    }
    .nav__items {
        width: 90vw;
        justify-content: space-between;
    }
    .tabs__items {
        width: auto !important;
    }
    .BitrixCloud__white-bg {
        width: 360px;
        margin: 0 auto;
    }
    .BitrixEnter__white-bg {
        max-width: 360px;
    }
    .BitrixEnter__container-descr {
        padding-inline: 15px;
    }
    .benefits-section__container {
        padding: 56px 40px;
    }
    .benefits-section__item {
        font-size: 16px;
    }
    .Bitrix-benefits__subtitle {
        margin-top: 32px;
    }
    .benefits-section__item_many-desktop {
        display: none;
    }
    .benefits-section__item_many-mobile {
        display: list-item;
    }
    .benefits-section__item {
        line-height: normal;
        vertical-align: baseline;
    }
    .benefits-section__list {
        margin-top: 8px;
    }
    .canbe-list .benefits-section__item {
        padding-left: 20px;
    }
    .price {
        font-size: 32px;
    }
    .price-btn {
        width: 100%;
        padding-inline: 0;
    }
    .canbe-list {
        margin-top: 24px;
        margin-left: -15px;
    }
    .benefits-section__item {
        margin-top: 16px;
    }
    .canbe-list {
        list-style: url(../Bitrix_icons/mark-star_mobile.svg);
    }
    .BitrixEnter__title-time {
        top: 70px;
        right: 30px;
        justify-content: center;
    }
    .benefits-section {
        padding-inline: 20px;
    }
    .BitrixPortal__white-bg {
        width: 360px;
        margin: 0 auto;
    }
    .Bitrix__container-title {
        padding: 40px 30px 27px 30px;
    }
    .Bitrix__title {
        margin-bottom: 0;
    }
    .BitrixPortal__container-title {
        padding: 29px 23px 27px 23px;
    }
    .BitrixPortal__title {
        font-size: 26px;
    }
    .BitrixPortal__title-time {
        font-size: 20px;
        top: 67px;
        right: 22px;
    }
    .Bitrix__container-descr__item {
        flex-direction: column;
        gap: 18px;
    }
    .Bitrix__container-descr__item-img {
        width: 30px;
        height: 25px;
    }
    .rates-block992 {
        display: none;
    }
    .rates-none992 {
        display: flex !important;
    }
    h1 {
        font-size: 27px;
    }
    h2 {
        font-size: 20px;
    }
    .Bitrix__title-descr {
        width: 278px;
    }
    .bitrix-title-block360 {
        display: none;
    }
    .bitrix-title-none360 {
        display: block;
    }
    .table-block768 {
        display: none;
    }
    .table-none768 {
        display: block;
    }
    .Bitrix__title-time {
        display: flex;
        justify-content: end;
    }
    .BitrixPortal__container-descr {
        padding: 0 45px 50px 45px;
    }
    .Bitrix__container-descr-time {
        margin-top: 0px;
        flex-direction: column-reverse;
        gap: 8px;
    }
    .Bitrix-whyWe__wrapper {
        padding: 0px 32px 20px 32px;
    }
    .BitrixPortal-whyWe__title {
        font-size: 23px;
    }
    .subtitle24 {
        font-size: 16px;
    }
    .template__table {
        margin: 20px 0 0 0;
        padding-left: 0px;
    }
    .template__table__row {
        padding: 16px 0;
        flex-direction: column;
    }
    .template__table__row-left {
        gap: 16px;
    }
    .template__table__row-left__title-text {
        width: 16px;
    }
    .template__table__row-right__descr-text {
        width: 300px;
        margin-top: 8px;
    }
    .Bitrix__rates-wrapper {
        padding: 0 5px;
    }
    .Bitrix__container-rates-services {
        margin: 0;
        width: auto;
        height: auto;
        padding: 0;
        border: none;
    }
    .Bitrix__container-rates-wrapperMobile {
        width: 350px;
        height: auto;
        border-radius: 25px;
        margin: 20px 0;
        padding: 20px 16px 0;
        border: 1px solid #707077;
    }
    .Bitrix__container-services-wrapperMobile {
        position: relative;
        gap: 0px;
        padding-right: 9px;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .Bitrix__container-rates {
        width: 100%;
        margin: 0;
        border: none;
    }
    .Bitrix__container-rates__types {
        gap: 0px;
        padding-right: 9px;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .Bitrix__rate__typeName {
        font-size: 16px;
        font-family: "Unbounded-Regular";
        font-weight: 600;
    }
    .Bitrix__container-rate__typeItem {
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
        margin-left: 0px;
    }
    .Bitrix__rate__typePrice {
        position: static;
        margin-top: 16px;
        font-size: 16px;
    }
    .Bitrix__container-services__priceItem {
        text-align: center;
    }
    .Bitrix__services__separPrice {
        font-size: 14px;
        width: 64px;
    }
    .Bitrix__services__separPrice-large {
        width: 74px;
        margin-left: -10px;
    }
    .Bitrix__rate__typeDescr {
        font-size: 14px;
    }
    .Bitrix__rate__basDescr {
        width: 256px;
    }
    .Bitrix__rate__stanDescr {
        width: 256px;
    }
    .Bitrix__rate__profDescr {
        width: 256px;
    }
    .Bitrix__rate__enterDescr {
        width: 256px;
    }
    .Bitrix__services-title {
        font-size: 24px;
        padding: 0;
        margin: 24px 16px;
        width: 318px;
    }
    .Bitrix__services__priceItem {
        font-size: 24px;
        margin: -6px 3px;
    }
    .Bitrix__container-rates__support-row {
        padding: 14px 0;
    }
    .Bitrix__container-services__header-price {
        margin-top: 157px;
    }
    .Bitrix__container-services__header-price__row {
        display: flex;
        justify-content: space-evenly;
        gap: 0px;
        width: 318px;
    }
    .Bitrix__container-services__header-price__row:not(:last-child) {
        border-bottom: 1px solid #707077;
    }
    .Bitrix__container-rates__support {
        margin: 5px 0 52px;
    }
    .Bitrix__container-rates__support-row {
        width: 318px;
        gap: 43px;
    }
    .Bitrix__container-rates__support-header-nonActive {
        color: #707077;
    }
    .Bitrix__container-rates__support-name {
        width: 190px;
        margin-left: 10px;
        font-size: 14px;
    }
    h4 {
        font-size: 16px;
    }
    .Bitrix__container-rates__support-scale {
        padding: 0 77px 0 13px;
        gap: 133px;
    }
    .support-scale__3col {
        gap: 133px;
    }
    .support-scale__2col {
        gap: 133px;
    }
    .BitrixPortal__container-rates__support-check {
        width: 35px;
    }
    .Bitrix__container-services {
        position: absolute;
        width: 349px;
        left: -16px;
        background-color: #232323;
    }
    .BitrixPortal__container-services {
        left: 5px;
    }
    .Bitrix__services-prices {
        padding: 16px 15px 16px 0px;
        gap: 60px;
    }
    .Bitrix__services__name {
        width: 233px;
        padding: 19px 0 19px 10px;
    }
    .Bitrix__container-services__priceItem {
        width: 64px;
        gap: 0px;
        padding: 0px;
    }
    .Bitrix-introduction__wrapper {
        gap: 0px;
        margin-top: 102px;
        padding: 0px 14px 0px 21px;
        flex-direction: column-reverse;
    }
    .BitrixPortal-introduction__title {
        font-size: 30px;
    }
    .Bitrix-introduction__container-btn {
        /* transform: scale(.5); */
        width: 150px;
        height: 210px;
        margin-left: -140px;
    }
    .Bitrix-introduction__btn-img svg {
        width: 143px;
        height: 200px;
    }
    .Bitrix-introduction__btn-header {
        top: 122px;
        right: 22px;
    }
    .Bitrix-introduction__btn-text {
        font-size: 14px;
    }
    h3 {
        font-size: 21px;
    }
    .Bitrix__rates-services__btn {
        margin-top: -100px;
        right: 59px;
        padding: 15px 45px;
    }
    .BitrixPortal__rates-services__btn {
        margin-top: 0;
    }
    .form__mailer {
        padding: 40px 50px;
    }
    .container__mailer {
        padding: 0 0 40px 0;
        background-size: 130%;
    }
    .mailer-section {
        margin-top: -154px;
    }
    .mailer-form-wrap {
        position: relative;
    }
    .mailer button {
        position: absolute;
        bottom: -100px;
    }
    .form__mailer {
        max-width: 100vw;
        margin-top: 550px;
        padding-bottom: 60px;
    }
}

@media (max-width: 600px) {
    .mailer-section {
        margin-top: -202px;
    }
}

@media (max-width: 460px) {
    .mailer-section {
        margin-top: -277px;
    }
}
