@media (max-width: 1300px) {
    .Cases, .Cases-afterClick {
        padding-top: 56px;
        max-width: 992px;
        height: auto;
    }
    .tabs__items {
        width: auto !important;
    }
    .nav__items {
        justify-content: center;
        width: auto;
    }
    .Cases__container {
        overflow: hidden;
        margin-top: 0;
    }
    .Cases__container {
        flex-direction: column;
    }
    .Cases__filter-items {
        margin-top: 50px;
    }
    .Cases__container-img {
        margin-top: 50px;
        margin-right: 0;
    }
    .Cases__png-bg {
        height: auto;
        background-position: top;
        padding-bottom: 75px;
    }
    .Cases__wrapper-descr {
        flex-direction: column;
    }
    .Cases__descr-about-projects {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }
    .Cases__container-descr {
        width: auto;
    }
    .Cases__swiper__link {
        font-size: 12px;
        width: auto;
        padding: 8px 15px;
    }
}

@media (max-width: 992px) {
    .Cases, .Cases-afterClick {
        padding-left: 50px;
        max-width: 768px;
    }
    .container__mobile-nav-btn {
        max-width: 768px;
        margin: 0 auto;
    }
    .Cases__swiper {
        margin-top: 40px;
    }
    .Cases__swiper__container {
        width: auto;
    }
    .Cases__swiper__arrow-next {
        left: auto !important;
        right: 0 !important;
    }
    .Cases__swiper__arrow-prev {
        left: auto !important;
        right: 50px !important;
    }
    .mobile-nav-btn-wrap {
        margin-right: 0;
    }
    .Cases__swiper__img, .Cases__swiper__basement {
        max-width: 98%;
    }
    .Cases__swiper-title {
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    .Cases, .Cases-afterClick {
        max-width: 360px;
        padding-inline: 0;
    }
    .Cases__title, .Cases__filter-items {
        margin-left: 32px;
    }
    .Cases__swiper {
        margin-left: 10px;
    }
    .container__mobile-nav-btn {
        max-width: 360px;
    }
    .Cases__swiper-container-title-arrows {
        display: none;
    }
    .Cases__swiper {
    }
    .Cases__swiper__slide {
        max-width: 340px !important;
        height: auto !important;
    }
    .Cases__container {
        overflow: visible;
    }
    .Cases__swiper__img, .Cases__swiper__basement {
        max-width: 100%;
        gap: 10px;
    }
    .Cases__swiper__basement-descr, .Cases__swiper__basement-date {
        text-align: center;
        font-size: 12px;
        padding: 8px 6px;
        border-radius: 24px;
        border: 1px solid #707077;
        line-height: normal;
    }
    .Cases__swiper__basement-date {
        font-family: "Open-sans", sans-serif;
        color: #707077;
    }
    .Cases__container-img {
        order: 1;
        max-width: 360px;
    }
    .Cases__container-descr {
        order: 2;
    }
    .Cases__container-descr__way {
        display: none;
    }
    .Cases__descr-title {
        font-size: 40px;
    }
    .Cases__descr-subtitle {
        font-size: 20px;
        color: #232323;
    }
    .cases-title-mobile {
        display: inline;
        margin-left: 32px;
    }
    .cases-title-desktop {
        display: none;
    }
    .Cases__descr-about-projects {
        margin-left: 32px;
    }
    .Cases__descr-item {
        font-size: 14px;
    }
    .Cases__descr-link {
        display: none;
    }
    .Cases-date-mobile {
        order: 3;
        display: inline;
        margin-left: 27px;
        margin-top: 24px;
        font-size: 16px;
        font-family: "Unbounded-regular", sans-serif;
        color: #707077;
    }
    .arrow-up-btn {
        display: block;
        position: absolute;
        bottom: -50px;
        right: 25px;
    }
    .Cases-afterClick {
        position: relative;
    }
}