.mobile-nav {
    display: none;
}

.no-scroll {
    overflow: hidden;
}

.mobile-nav {
    top: -100%;
    width: 100vw;
    height: 100svh;
    background-color: #232323;
    position: fixed;
    z-index: 999;
    overflow: hidden;
    transition: all .2s ease;
}

.mobile-nav--open {
    top: 0;
}

.mobile-nav__nav {
    margin: 20px auto 0 auto;
    width: 90vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.mobile-nav__nav .mobile-nav__item {
    text-align: center;
    border-bottom: 1px solid #f5f6ff6e;
    font-size: 24px !important;
    width: 100% !important;
}

.mobile-nav-btn-wrap {
    display: none;
    text-align: center;
    z-index: 999;
    margin-left: auto;
    margin-right: 5%;
}

.mobile-nav-btn:active {
    background-color: transparent;
}
.mobile-nav-btn:hover {
    background-color: transparent;
}

.mobile-nav-btn {
    --time: 0.1s;
    --width: 40px;
    --height: 30px;
    --line-height: 4px;
    --spacing: 6px;
    --color: #f5f6ff;
    --radius: 4px;
    background-color: transparent;
    padding: 0;

	height: calc(var(--height) + 40px)!important;
    width: calc(var(--width) + 40px) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-icon {
    position: relative;
    width: var(--width);
    height: var(--line-height);
    background-color: var(--color);
    border-radius: var(--radius);
    transform: translateX(calc(50% - width / 2));
}

.nav-icon::before,
.nav-icon::after {
    content: '';
    display: block;
    position: absolute;
    width: var(--width);
    height: var(--line-height);
    border-radius: var(--radius);
    background-color: var(--color);
    transition: transform var(--time) ease-in,
        top var(--time) linear var(--time);
}

.nav-icon::before {
    /* top: calc(var(--line-height) * -2); */
    top: calc(-1 * (var(--line-height) + var(--spacing)));
}

.nav-icon::after {
    /* top: calc(var(--line-height) * 2); */
    top: calc(var(--line-height) + var(--spacing));
}

.nav-icon.nav-icon--active {
    background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
    top: 0;
    transition: top var(--time) linear,
        transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
    transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
    transform: rotate(-45deg);
}

/* Layout */

.mobile-nav-btn {
    z-index: 999;
    display: none;
}


@media (max-width: 992px) {
    .mobile-nav-btn {
        display: flex !important;
    }
    .mobile-nav {
        display: flex !important;
    }
    .header {
        display: none !important;
    }
    .mobile-nav-btn-wrap {
        display: block !important;
    }
}