.main-services {
    max-height: 100vh;
    overflow-y: hidden;
}

/* White background */


.white__bg__services {
    width: 1266px;
    height: 88%;
    position: relative;
    background-color: #F5F6FF;
    border-radius: 40px;
    margin: 0 auto 108px auto;
    overflow: hidden;
}

/* Services */

.container__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}

.services__subtitle {
    color: #232323;
    font-family: var(--subtitle24-font-family);
    font-size: var(--subtitle24-font-size);
}

.wrapper__services {
    padding-bottom: 32px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.services__wrap {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.comma__descr1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 108px;
    color: var(--White, #F5F6FF);
    font-family: Unbounded, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.comma__descr2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 129px;
    color: var(--White, #F5F6FF);
    font-family: Unbounded, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.comma__descr3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 129px;
    color: var(--White, #F5F6FF);
    font-family: Unbounded, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.container__green__comma1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: url(../icon1/comma_services1.svg);
    background-repeat: no-repeat;
    width: 387px;
    height: 506px;
    
}

.container__green__comma2 {
    display: flex;
    flex-direction: column;
    background: url(../icon1/comma_services2.svg);
    background-repeat: no-repeat;
    width: 387px;
    height: 506px;
}

.container__green__comma3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: url(../icon1/comma_services3.svg);
    background-repeat: no-repeat;
    width: 387px;
    height: 506px;
}

.container__our__services {
    margin-top: 92px;
}

.container__title__our__services {
    padding-left: 72px;
    display: flex;
    
}

.header__first {
    color: #FF7D04;
    margin-right: 27px;
}

.header__second {
    display: block;
}

.container__commas {
    display: flex;
    justify-content: center;
    margin: 60px;
    gap: 20px;
}

.comma__service {
    pointer-events: none;
}

.container__green__comma1:hover {
    background:  url('../icon1/comma_services1_hover.svg');
    background-repeat: no-repeat;
}
.container__green__comma2:hover {
    background:  url('../icon1/comma_services2_hover.svg');
    background-repeat: no-repeat;
}
.container__green__comma3:hover {
    background:  url('../icon1/comma_services3_hover.svg');
    background-repeat: no-repeat;
}

.wrapper__our__services {
    border-bottom: 2px solid #232323;
}

.container__last {
    justify-content: flex-start;
    transform: translateX(118px);
}

.our-service {
    background-color: #F5F6FF;
    /* transition: all .2s ease; */
    position: absolute;
    width: 100%;
}

.our-service_active {
    transform: translateY(-111%);
}