* {
    box-sizing: border-box;
    margin: 0;
}

body, html {
    scroll-behavior: smooth;
}

body {
    /* display: flex; */
   /* min-width: 1220px; ????*/
    /* justify-content: center; */
    background-color: #232323;
    /* flex-wrap: wrap; */ 
}

h1 {
    font-family: "Unbounded-Black";
    font-size: 96px;
    font-weight: 900;
    text-transform: uppercase;
}

h2 {
    font-family: "Unbounded-Black";
    font-size: 64px;
    font-weight: 900;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--caption16-color);
}

.subtitle24 {
    color: #000;
    font-family: "Unbounded-Regular";
    font-size: 24px;
    font-weight: 400;
}

.caption16 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.caption10 {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: 400;
}

.body14 {
    font-family: 'Open Sans', sans-serif;
    color: #232323;
    font-size: 14px;
    line-height: 142.2%;
}

:root {
    --caption16-font-family: 'Open Sans', sans-serif;
    --caption16-font-size: 14px;
    --caption16-font-weight: 400;
    --caption16-color: #232323;
    --subtitle24-color: #F5F6FF;
    --subtitle24-font-family: "Unbounded-Regular";
    --subtitle24-font-size: 24px;
}

button {
    font-family: var(--caption16-font-family);
    background-color: #FF7D04;
    border-radius: 40px;
    border: none;
    padding: 24px 80px 24px 75px;
    cursor: pointer;
}

button:hover {
    background-color: #FF9330;
}

button:active {
    background-color: #EC7202;
}

button:focus {
    outline: none;
}

main {
    overflow: hidden;
    max-width: 100%;
    position: relative;
}

/* header */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.wrapper__header {
    min-height: 100%;
}

.item__logo {
    background: url(../icon1/logo-white.svg) center no-repeat;
    height: 96.5px;
    position: relative;
}

.item__logo::after {
    position: absolute;
    display: block;
    content: "";
    height: 30px;
    width: 100%;
    background-color: inherit;
    top: 100%;
    left: 0;
}

.item__logo:hover {
    background: url(../icon1/logo-black.svg) center no-repeat;
}

.nav__items {
    height: 60px;
    width: 1266px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.tabs__items {
    width: 300px !important;
    height: 66px;
    color: #F5F6FF;
    display: block;
    padding: 18px 48px 20px 48px;
    text-decoration: none;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 700;
}

.tabs__items:hover {
    transition: 0.1s;
    color: black;
    border-radius: 12px 12px 0px 0px;
    /*background-color:#F5F6FF; */
}

.telephone {
    padding: 19px 7px 19px 0px;
}

.telephone:hover{
    height: 96.5px;
    width: 100px;
}

 .tabs__item {
    transition: all .2s ease;
}

.tabs__item:hover {
    background-color:#F5F6FF
}

/* section autor__IT */

.autor__content .mobile-title {
    display: none;
}

.container__autor__IT {
    background-color: #F5F6FF;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    display: flex;
    height: 928px;
    width: 1266px;
    padding: 167px 0 159px 0;
    margin: 0 auto;
}

/* Общая фотка в section autor__IT*/

.container__autor__IT img {
    height: 807px;
    border-radius: 50px 0 0 50px;
    transform: translateY(-100px);
}

/* Контент autor__content */

.autor__content {
    width: 488px;
    height: 602px;
    margin-right: 70px;
    margin-left: 133px;
}

.autor__descr1 {
    margin-top: 19px;
    margin-right: 124px;
}

.autor__descr2 {
    margin-top: 40px;
}

/* Кнопка "Давайте работать!" */

.autor__go__work {
    display: flex;
    padding: 24px 0;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    background: #FF7D04;
    margin-top: 40px;
    width: 391px;
    color: #F5F6FF;
    transition: all .3s ease;
}

/* Ссылки на АвторIT */

.autor__wrap__links {
    width: 391px;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}

.autor__links {
    background-color: #F5F6FF;
    border: 1px solid #232323;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    cursor: pointer;
    transition: all .3s ease;
}

/* Текст внутри ссылок на АвторIT*/

.vk {
    min-width: 70px;
}

.tg {
    min-width: 114px;
}

.yt {
    min-width: 110px;
}

/* Эффекты у ссылок на АвторIT */

.autor__links:hover {
    border: 1px solid #FF7D04;
    color:#FF7D04;
}

.autor__links:active {
    border: 1px solid #EC7202;
    color: #EC7202;
}

/* section crm */

.crm-white {
    background-color: #F5F6FF;
    width: 1266px;
    margin: 0 auto;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    padding-bottom: 40px;
}

/* зеленый фон */

.crm__content {
    background: url(../icon1/crm_bg.svg) center no-repeat;
    transform: translateX(-7.5%);
    min-width: 1483px;
    height: 948px;
    padding: 159px 136px 108px 143px;
}

/* crm__promo */

.crm__content__promo {
    display: flex;
    justify-content: space-between;
    height: 109px;
    min-width: 1064px;
    margin-left: 106px;
}

/* шапка части crm */

.crm__title {
    position: relative;
    width: 448px;
    height: 109px;
    margin: 0 162px 0 0;
}

.title {
    color:#F5F6FF;
}

.subtitle {
    color:#F5F6FF;
    font-family: "Unbounded-Regular";
    font-size: 24px;
    text-shadow: #064c4c 0 4px 4px;
}

.crm__descr__no-bg {
    width: 488px;
    height: 80px;
    color:#F5F6FF;
    margin-top: 27px;
}

/* контент части crm */

/* crm__icon__top */

.crm__icon__top {
    margin-top: 72px;
    display: flex;
    justify-content: space-between;
}

.comm__revers {
    background: url(../icon1/crm_comma_revers.svg) center no-repeat;
    width: 184px;
    height: 240px;
}

.descr {
    width: 490px;
    height: 240px;
    background: #F5F6FF;
    padding: 48px 18px 40px 40px;
    border-radius: 32px;
}

.crm__descr {
    margin-top: 8px;
}

.personalization {
    margin: 0 20px;
}

/* crm__icon__bottom */

.crm__icon__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.more {
    width: 388px;
    background: #FF7D04;
    margin: 0 20px;
    padding: 102px 0;
    border-radius: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all .3s ease;
}

.more h3 {
    color: #F5F6FF;
}

.more:hover {
    background: #FF9330;
}

.more:active {
    background: #EC7202;
}

.specialization {
    background: url(../icon1/crm_comma.svg) center no-repeat;
    width: 285.983px;
    height: 240px;
    padding: 34px 26px 128px 24px;
    margin: 0;
}

.crm__descr__comm {
    color: #F5F6FF;
}

/* section we */

.container__we {
    width: 1266px;
    height: 741px;
    padding: 92px 0 108px 0;
}

/* заголовок Мы */

.container__we h2 {
    color:#232323;
    margin: 0 0 57px 134px;
}

/* контейнер контента секции we*/

.container__we__commas {
    width: 1236px;
    height: 390px;
    display: flex;
    justify-content: space-between;
}

/* общие стили для иконок раздела we */

.com {
    position: relative;
    width: 286px;
    height: 390px;
    border: none;
    cursor: pointer;
}

/* пары иконок */

.we__develop, .we__develop__hover {
    position: absolute;
    width: 286px;
    height: 390px;
    margin: 0 10px 0 20px;
}

.we__promote, .we__promote__hover,
.we__testing, .we__testing__hover {
    position: absolute;
    width: 286px;
    height: 390px;
    margin: 0 10px;
}

.we__efficienty, .we__efficienty__hover {
    position: absolute;
    width: 285px;
    height: 390px;
    margin: 0 10px;
}

/* псевдоклассы иконок раздела we */

.we__develop:hover,
.we__promote:hover,
.we__efficienty:hover,
.we__testing:hover {
    opacity:0;
}

/* section running_line */

.ticker {
    /* position: relative; */
    height: 140px;
    /* left: calc(-50vw + 50%); */
    margin: 108px 0 31px 0;
}

.running__line {
    background: linear-gradient(90deg, rgba(35,35,35,1) 0%, rgba(35,35,35,0) 5%, rgba(35,35,35,0) 95%, rgba(35,35,35,1) 100%);
    margin: 0 auto;
    max-width: 1920px;
    overflow-x: hidden;
}

.ticker__wrapper {
    display: flex;
}
  
.ticker__item {
    border-top: 1px solid;
    border-bottom: 1px solid;
    color: white;
    font-family: "Unbounded-Black";
    font-size: 70px;
    font-weight: 500;
    flex-shrink: 0;
    padding: 0 15px;
    animation: ticker 5s linear infinite;
}
  
@keyframes ticker {
    0% {
      transform: translateZ(0);
    }
    to {
      transform: translate3d(-100%, 0, 0);
    }
}

/* section team */

.cursor-mobile-wrap {
    display: none;
}

.team__container {
    display: flex;
    background-color: #F5F6FF;
    height: 665px;
    width: 1266px;
    border-radius: 48px;
    cursor: none;
    margin: 40px auto 127px auto;
}

/* cursor */

.cursor {
    position: absolute;
    width: 150px;
    height: 150px;
    background: rgba(25, 127, 117, 0.8);
    border-radius: 100%;
    user-select: none;
    display: block;
    opacity: 0;
    transform: translate(-50%, -50%); /* центрируем кружок */
    z-index: 999; /* чтобы элемент был над остальными элементами */
    pointer-events: none; /* чтобы сквозь элемент можно было взаимодействовать с элементами, находящимися под ним */
    transition: width 0.3s, height 0.3s, border-radius 0.3s, background 0.3s;
}

/* cursor при наведении на ссылки (лица команды) */

.cursor_active {
    height: 250px;
    width: 250px;
    border-width: 2px;
    background: rgba(34, 153, 141, 0.5);
}

/* ссылки на лицах*/

.team__wrap-face {
    position: relative;
    opacity: 1;
}

.team__links {
    position: absolute;
    width: 1005px;
    height: 739px;
    padding: 0;
    display: block;
    background-color: transparent;
    cursor: url(../icon1/team__cursor.svg), pointer;
    transform: translate(44px, -821px);
}

/* фотография в team__container */

.team__img {
    margin-top: -81px;
    width: 1075.68px;
    height: 847.138px;
    transform: translateX(97px);
}

/* swiper в section team */

.swiper__team {
    position: relative;
    min-width: 0;
    display: none;
    overflow: hidden;
    width: 1270px !important;
    height: 878px !important;
    padding: 128px 72px 81px 72px;
    transform: translateY(-71px) !important;
    cursor: url(../icon1/team__cursor.svg), pointer;
}

.descr-team {
    display: flex;
    flex-direction: column;
    width: 1263px !important;
    height: 612px !important;
    /* margin-right: 0px !important; */
    cursor: url(../icon1/team__cursor.svg), pointer;
}

.team__name {
    color:#000;
}

.team__profession {
    color: #000;
    font-family: "Unbounded-Black";
    font-size: 24px;
    font-weight: 400;
    margin-top: 349px;
}

.swiper__team__img {
    margin-top: -655px;
    margin-left: 493px;
}

.custom-pagination {
    width: 65px !important;
    height: 30px;
    color:#232323 !important;
    font-family: "Unbounded-Black";
    font-size: 24px;
    font-weight: 400;
    bottom: 200px !important;
    left: 1144px !important;
}

/* section we__proud */

/* container__we__proud */

.slider__name-mobile {
    display: none;
}

.container__we__proud {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1200px;
    padding: 79px 310px 80px 304px;
}

.container__proud__text {
    color:#F5F6FF;
    display: flex;
    flex-direction: column;
}

.container__proud__descr {
    display: flex;
    justify-content: space-between;
    margin-top: 56px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 142.2%;
}

.proud__descr__left {
    width: 396px;
    margin-right: 216px;
}

.proud__descr__right {
    width: 386px;
}

/* container__slider__union */

.container__we__proud__slider {
    width: 1306px;
    height: 726px;
    padding: 129px 11.53px 57px 55px;
    margin-top: 80px;
    border-radius: 35px 0 48px 48px;
    background: url(../img1/slider__union__bg.svg) center no-repeat;
}

.swiper__container__we__proud {
    position: relative;
    min-width: 0;
    overflow: hidden !important;
}

.slide__we__proud {
    width: 1053px !important;
    display: flex !important;
    justify-content: space-between;
}

.we__proud1 {
    margin-left: 80px;
}

.we__proud2 {
    margin-left: 190px;
}

.we__proud3 {
    margin-left: 190px;
}

.container__text__slider__union {
    width: 286px;
    height: 540px;
    margin-right: 42px;
}

.container__text__slider__union h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.container__text__slider__union h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.slider__union__name {
    margin-bottom: 32px;
}

.union__descr {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 142.2%;
}

.slider__union__descr {
    margin-bottom: 40px;
}

.slider__union__task__title {
    margin-bottom: 8px;
}

.slider__union__task__descr {
    margin-bottom: 24px;
}

.slider__union__result__title {
    margin-bottom: 8px;
}

.slider__union__result__descr {
    margin-bottom: 40px;
}

.go__project {
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    width: 173px;
    height: 40px;
    float: right;
    text-align: center;
    background-color: #F5F6FF;
    color:#232323;
    padding: 8px 32px 8px 40px;
    border-radius: 16px;
    border: 1px solid var(--c);
    --c:#232323;
    text-decoration: none;
}

.go__project:hover {
    background-color: #F5F6FF;
    --c:#FF7D04;
    color:#FF7D04;
}

.go__project:active {
    background-color: #F5F6FF;
    --c:#EC7202;
    color:#EC7202;
}

.go__project__arrow {
    stroke: #FF7D04;
}

.slider__laptop {
    width: 691.442px;
    height: 457.509px;
}

.slider__union__btn__all__keys {

    display: block;
    width: 283px;
    height: 81px;
    transform: translate(320%, 15%);
    padding: 24px 80px 24px 75px;
    border-radius: 40px;
    background: #FF7D04;
    text-decoration: none;
}

.slider__union__btn__all__keys:hover {
    background: #FF9330;
}

.slider__union__btn__all__keys:active {
    background: #EC7202;
}

.slider__union__btn__all__keys h3 {
    color:#F5F6FF;
}

.arrow_left_slider_union_laptop {
    left: 12px !important;
    outline:none;
}

.arrow_right_slider_union_laptop {
    right: 40px !important;
    outline:none;
}

/* section comments */

.container__comments {
    background: url(../img1/slider__trust.png) center center/cover no-repeat;
    width: 1483px;
    height: 942px;
    position: relative;
    margin: 0 auto 145px;
    padding: 120px 0 123px 0;
}

.container__comments h2 {
    position: absolute;
    color: #F5F6FF;
    margin-left: 242px;
}

/* swiper section comments */

.swiper__container__comments__items {
    max-width: 780px;
    height: 520px;
    padding-bottom: 75px;
    transform: translateX(30%);
    margin-top: 100px;
    overflow: visible !important;
    min-width: 0;
}

/* карточки с отзывами */

.comments__items {
    display: flex;
    flex-direction: column;
    width: 780px !important;
    height: 480px !important;
    background-color: #F5F6FF;
    border-radius: 24px;
    margin-top: 25px;
    margin-left: 50px;
    padding: 40px 32px 32px 48px;
}

.comment__1, .comment__3 {
    transform: rotate(2deg) !important;
}

.comment__2 {
    transform: rotate(-2deg) !important;
}

/* стрелки свайпера */

.trust__arrow__right {
    transform: translate(-2500%, 800%);
    outline:none;
}

.trust__arrow__left {
    transform: translate(2500%, 800%);
    outline:none;

}

/* контент отзывов */

.container__comments__items__title {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 32px;
}

.comments__items__title {
    margin-left: 32px;
}

.comments__items__name {
    font-family: "Unbounded-Black";
    font-size: 24px;
    font-weight: 400;
}

.comments__items__descr {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: 400;
    color: #707077;
}

.comment {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 142.2%;
    height: 195px;
}

/* section mailer */

.container__mailer {
    max-width: 2160px;
    background: url(../img1/mailer__bg.png) center center/cover no-repeat;
    padding: 709px 419px 119px 482px;
    margin: 0 auto;
}

.form__mailer {
    /* height: 435px; */
    background-color: #F5F6FF;
    border-radius: 52px;
    padding: 72px 120px;
    width: 1262px;
}

.mailer-section {
    position: relative;
    margin-top: 56px;
    display: flex;
    justify-content: center;
}

.mailer {
    position: relative;
    margin-top: 56px;
    display: flex;
    justify-content: space-between;
}

.container__break__mailer {
    display: flex;
    flex-direction: column;
}

.mailer__row {
    margin-bottom: 20px;
}

.mailer input {
    padding: 0 0 16px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #232323;
    background-color: #F5F6FF;
    border: none;
    outline: none;
    border-bottom: 1px solid #232323;
}

.mailer input::hover {

}

.mailer input::active {
}

.mailer input[type=text] {
    width: 591px;
}

.mailer input[type=tel], input[type=email] {
    width: 285px;
}

.mailer input[type=tel] {
    margin-right: 20px;
}

.mailer__descr {
    color: #232323;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-top: 20px;
}

.mailer button {
    position: absolute;
    width: 367px;
    height: 81px;
    color:#F5F6FF;
    bottom: 0;
    right: 0;
}

/* футер */

.footer {
    background-color: #181818;
}
.footer__container {
    max-width: 1001px;
    margin: 0 auto;
    padding: 107px 0 134px 0;
}

.footer__nav {
    display: flex;
    flex-wrap: wrap;
    gap: 47px 40px;
    padding-left: 0;
}

.navigation__item {
    border-radius: 51px;
    border: 1px solid var(--White, #F5F6FF);
    padding: 16px 24px;
    margin: 0;
}

.footer__container ul {
    list-style-type: none;
    padding-left: 0;
}

.footer {
    color:rgb(245, 246, 255, .8);
}

.footer__nav a {
    text-decoration: none;
    color:rgb(245, 246, 255, .8);
    transition: color .3s ease;
}

.footer__nav a:hover {
    color:rgb(245, 246, 255);
    border-color: rgb(245, 246, 255);
}

.navigation a {
    font-family: "Unbounded-regular";
    font-size: 24px;
}

.contacts-section {
    display: flex;
    margin-top: 160px;
    position: relative;
    gap: 64px;
}

.contacts-section__logo {
    max-width: 182px;
}

.contacts-section__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.contacts-section__title {
    font-size: 40px;
    font-family: "Unbounded-regular";
    color: #F5F6FF;
}

.contact-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    max-width: 467px;
}

.contact {
    display: flex;
    align-items: center;
    gap: 16px;
}

.contact__icon {
    width: 32px;
    height: 32px;
}

.contact__info {
    font-size: 20px;
    color: #F5F6FF;
}

.footer__rights {
    position: absolute;
    right: 0;
    bottom: -30px;
    color: #D1D2D9;
    font-size: 14px;
}

@media (max-width: 1080px) {
    .footer__container {
        padding: 107px 40px 134px 40px;
    }
    .footer__rights {
        bottom: -50px;
    }
}

@media (max-width: 768px) {
    .footer__container {
        margin-top: 60px;
    }
    .footer__nav {
        gap: 30px 20px;
    }
    .navigation a {
        font-size: 18px;
    }
    .contacts-section {
        margin-top: 90px;
    }
    .contacts-section__title {
        font-size: 32px;
    }
    .contact__info {
        font-size: 18px;
    }
    .contacts-section__logo {
        max-width: 140px;
    }
}

@media (max-width: 573px) {
    .contacts-section {
        flex-direction: column;
    }
}

/* страница Битрикс24 Внедрение облачного Б24 */

.BitrixCloud__white-bg {
    position: relative;
    width: 1266px;
    background: #F5F6FF;
    border-radius: 40px;
    margin: 0 auto 58px auto;
}

/* для адаптива */

.rates-block992 {
    display: flex;
}

.rates-none992 {
    display: none !important;
}

.bitrix-title-block360 {
    display: block;
}

.bitrix-title-none360 {
    display: none;
}

/* секция Bitrix__title */

.Bitrix__container-title {
    padding: 100px 27px 96px 31px;
}

/* заголовок */

.Bitrix__title {
    color: #232323;
    margin-top: 0;
}

/* контейнер для описания и срока */

.Bitrix__container-descr-time {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

/* описание заголовка */

.Bitrix__title-descr {
    width: 688px;
}

/* срок выполнения */

.Bitrix__title-time {
    color: #FF7D04;
}

/* секция Bitrix-whyWe */

.Bitrix-whyWe__wrapper {
    padding: 0 114px 96px 33px;
}

.Bitrix-whyWe__title {
    color: #232323;
}

.Bitrix__table {
    padding-left: 133px;
}

/* секция Bitrix__rates */

.Bitrix__rates-wrapper {
    padding: 0 31px 0 29.94px;
}

/* заголовок */

.Bitrix__rates-title {
    color: #232323;
}

/* общий контейнер для тарифов и услуг */

.Bitrix__container-rates-services {
    margin-top: 54px;
    display: flex;
    height: 1532px;
    padding-top: 32px;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 25px;
    border: 1px solid #707077;
}

/* контейнер для тарифов */

.Bitrix__container-rates {
    width: 1204px;
    border-bottom: 3px solid #232323;
}

/* контейнер для названий тарифов */

.Bitrix__container-rates__types {
    display: flex;
    justify-content: end;
    gap: 60px;
    height: 184px;
    padding-right: 30px;
}

/* названия тарифов */

.Bitrix__rate__typeName {
    color: #232323;
    font-family: "Unbounded-Black"; 
    font-size: 16px;
    font-weight: 700;
}

/* описания тарифов */

.Bitrix__rate__typeDescr {
    color: #232323;
    margin-top: 16px;
}

.Bitrix__rate__basDescr {
    width: 164px;
}

.Bitrix__rate__stanDescr {
    width: 154px;
}

.Bitrix__rate__profDescr {
    width: 216px;
}

.Bitrix__rate__enterDescr {
    width: 212px;
}

/* стоимость тарифов */

.Bitrix__rate__typePrice {
    color: #FF7D04;
    margin-top: 32px;
}

/* контейнер для всех строк */

.Bitrix__container-rates__support {
    margin: 35px 0 52px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 660px;
    padding: 0 16px 17px;
}

/* контейнер для строки */

.Bitrix__container-rates__support-row {
    display: flex;
    width: 1167px;
    border-top: 1px solid #707077;
    padding: 19px 0;
}

/* контейнер для названия услуги */

.Bitrix__container-rates__support-name {
    width: 255px;
    color: #232323;
}

/* контейнер для части со шкалами уровней поддержки */

.Bitrix__container-rates__support-scale {
    display: flex;
    justify-content: space-between;
    width: 910px;
    padding: 0 101px 0 16px;
}

.support-scale__3col {
    justify-content: end !important;
    gap: 195px;
}

.support-scale__2col {
    justify-content: end !important;
    gap: 195px;
}

.support-scale__1col {
    justify-content: end !important;
}

/* контейнер для услуг */

.Bitrix__container-services {
    display: flex;
    flex-direction: column;
    width: 1204px;
}

/* заголовок */

.Bitrix__services-title{
    color: #232323;
    font-family: "Unbounded-Black"; 
    font-size: 32px;
    font-weight: 700;
    padding: 32px 24px;
}

/*  контейнер для цен на услуги (верхние) */

.Bitrix__services-prices {
    display: flex;
    justify-content: end;
    gap: 70.75px;
    padding: 16px 72px 16px 0px;
}

/* цены */

.Bitrix__services__priceItem {
    color: #FF7D04;
}

/* контейнер для всех строк с услугами */

.Bitrix__container-services__rows {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 410px;
    padding: 0 16px 17px;
}

/* контейнер для строки */

.Bitrix__container-services__row {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #707077;
}

/* название услуги */

.Bitrix__services__name {
    padding: 19px 10px;
    color: #232323;
}

/* контейнер для цен на услуги (нижние) */

.Bitrix__container-services__priceItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 155px;
    width: 912px;
    padding: 0 89px 0 64px;
}

/* цена услуги */

.Bitrix__services__separPrice {
    color: #232323;
    width: 77px;
}

/* кнопка для открытия модального окна */

.Bitrix__rates-services__btn {
    padding: 24px 80px 24px 75px;
    border-radius: 40px;
    background: #FF7D04;
    margin-top: -110px;
    color:#F5F6FF;
    position: absolute;
    right: 31px;
}

/* секция Bitrix-introduction */

.Bitrix-introduction__wrapper {
    display: flex;
    gap: 119px;
    margin-top: 137px;
    padding: 40px 84px 40px 83.94px;
}

.Bitrix-introduction__container-btn {
    position: relative;
    padding: 0;
    background-color: #F5F6FF;
    cursor: pointer;
}

.Bitrix-introduction__container-btn:hover {
    background-color: transparent;
}

.Bitrix-introduction__resetStyle {
    background-color: transparent;
}

.Bitrix-introduction__btn-header {
    color: #232323;
    text-align: center;
    position: absolute;
    top: 230px;
    right: 50px;
}




/* заголовок */

.Bitrix-introduction__title {
    color: #232323;
}

/* подзаголовок */

.Bitrix-introduction__subtitle {
    color: #232323;
    margin-top: 36px;
}

/* описание */

.Bitrix-introduction__descr {
    color: #232323;
    margin-top: 39px;
}


/* страница Битрикс24 Корпоративный портал */

.BitrixPortal__white-bg {
    position: relative;
    width: 1266px;
    background: #F5F6FF;
    border-radius: 40px;
    margin: 0 auto 58px auto;
    /*display: none;*/
}

/* секция Bitrix__title */

.BitrixPortal__container-title {
    padding: 100px 27px 30px 31px;
}

.BitrixPortal__title {
    position: relative;
}

.BitrixPortal__title-time {
    position: absolute;
    right: 70px;
    top: 246px;
}

.Bitrix__container-descr {
    padding: 0 117px 64px 131px;
}

/* для адаптива */
.rates-wrapper-block992 {
    display: block;
}
.rates-wrapper-none992 {
    display: none;
}
.table-none768 {
    display: none;
}
.table-block768 {
    display: block;
}

.Bitrix__container-descr__item {
    display: flex;
    gap: 24px;
    align-items: center;
}

.Bitrix__container-descr__item:not(:first-child) {
    padding-top: 32px;
}

.Bitrix__container-descr__item:not(:last-child) {
    padding-bottom: 24px;
}

.Bitrix__container-descr__item-img {
    width: 36px;
    height: 29px;
}

.Bitrix__container-descr__item:not(:last-child) {
    border-bottom: 1px solid #707077;
}



/* секция Bitrix__rates */

.BitrixPortal__container-rates-services {
    height: 969px;
}

.BitrixPortal__container-rates__types {
    height: 118px;
}

.BitrixPortal__container-rate__typeItem {
    width: 178px;
}

.BitrixPortal__rate__typeNameInter {
    color: #232323;
    font-family: "Unbounded-Black"; 
    font-size: 16px;
    font-weight: 700;
}

.BitrixPortal__rate__descr {
    color: #232323;
    font-family: "Unbounded-Black"; 
    font-size: 16px;
    font-weight: 700;
    margin-top: 16px;
}

.BitrixPortal__rate__price {
    margin-top: 16px;
}

.BitrixPortal__rate__typeDescr-typePrice {
    display: flex;
    gap: 16px;
}

.BitrixPortal__rate__typeName {
    color: #232323;
    font-family: "Unbounded-Black"; 
    font-size: 32px;
    font-weight: 700;
}

.BitrixPortal__container-rates__support {
    height: 198px; 
    margin-bottom: 18px;
}

.BitrixPortal__container-rates__support-scale {
    padding: 0 74px 0 72px;
}

.BitrixPortal__container-rates__support-scale-3col {
    padding: 0 74px 0 249px;
}

.BitrixPortal__rates-services__btn {
    margin-top: 40px;
}

/* страница Битрикс24 энерпрайз */

.BitrixEnter__white-bg {
    position: relative;
    max-width: 1266px;
    background: #F5F6FF;
    border-radius: 40px;
    margin: 0 auto 58px auto;
    /*display: none;*/
}

.BitrixEnter__container-title {
    padding: 100px 50px 70px 31px;
}

.BitrixEnter__title {
    position: relative;
    margin-bottom: 0;
}

.BitrixEnter__title-time {
    position: absolute;
    right: 70px;
    top: 207px;
}

.BitrixEnter__container-descr {
    padding: 70px 117px 64px 131px;
}

.Bitrix__benefits {
    padding: 0 108px;
}

.benefits-section__container {
    border-radius: 32px;
    border: 1px solid #707077;
    padding: 56px 106px;
    display: flex;
    flex-direction: column;
}

.Bitrix-benefits__subtitle {
    margin-top: 64px;
}

.benefits-section__list {
    margin-top: 32px;
    list-style: url('../Bitrix_icons/check.png');
}

.benefits-section__item {
    font-family: "Unbounded-regular";
    padding-left: 16px;
    font-size: 24px;
    font-weight: 400;
    color: #232323;
    line-height: 2.5;
}

.benefits-section__item_bold {
    color:#FF7D04;
    font-family: "Unbounded-Black";
}

.canbe-list {
    margin-top: 64px;
    list-style: url('../Bitrix_icons/mark-star.svg');
}

.canbe-list__item {
    color: #000;
    padding-left: 15px;
}

.benefits-info {
    margin-top: 38px;
    display: flex;
    gap: 24px;
    align-items: center;
}

.price-wrap {
    text-align: right;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.price-btn {
    padding: 24px 80px 24px 75px;
    display: block;
    border-radius: 40px;
    background: #FF7D04;
    margin-top: 32px;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: #F5F6FF;
    font-weight: 700;
}

.BitrixEnter__white-bg {
    height: auto;
    padding-bottom: 70px;
}

.benefits-info__text {
    margin-top: 0;
}
/* Bitrix__black-dg */

.Bitrix__black-dg {
    width: 100vw;
    /* height: 1263px; */
    position: relative;
    margin: 0 auto 0 auto;
}

/* страница О нас */

.AboutUs__white {
    background: url(../AboutUs_img/AboutUs-bg.png) center center/cover no-repeat;
    width: 1266px;
    height: 5996.884px;
    position: relative;
    margin: 0 auto 108px auto;
}

.AboutUs-promo-wrapper {
    padding: 60px 39px 0 40px;
}

/* секция с title и фотографией общей (верхняя секция страницы) */

.AboutUs-promo__title {
    color: #FF7D04;
    font-family: "Unbounded-Black";
    font-size: 200px;
    font-weight: 900;
    text-transform: uppercase;
}

.AboutUs_img {
    margin-top: 40px;
    width: 1186px;
}

/* секция со свайпером AboutUs */

.AboutUs-promo__container {
    width: 1191px;
    margin-top: 100px;
}

/* swiper AboutUs */

.swiper__container__AboutUs {
    width: 1188px;
    border: 3px #232323 solid;
    border-bottom: none;
    overflow: hidden;
}

.slide__AboutUs {
    height: 554px !important;
    display: flex !important;
}

/* выравнивание больших фотографий */

.AboutUs-promo__slider-img {
    margin-top: 20px;
    margin-right: 29px;
}

.slide__AboutUs__Daniil img {
    margin-left: 30px;
}

.slide__AboutUs__Kostya img {
    margin-left: 25px;
}

.slide__AboutUs__Ksysha img {
    margin-left: 80px;
}

.slide__AboutUs__NastyaD img {
    margin-left: 43px;
}

.slide__AboutUs__Egor img {
    margin-left: 46px;
}

.slide__AboutUs__NastyaM img {
    margin-left: 56px;
}

/*  выравнивание описаний к фотографиям */

.AboutUs-promo__slider-descr {
    margin-top: 127px;
}

/* выравнивание ФИ сотрудников */

.AboutUs-promo__slider-name-NastyaD {
    transform: translate(-123px, -63px);
}

/* выравнивание профессий сотрудников */

.AboutUs-promo__slider-proffession {
    margin-top: 16px;
}

.AboutUs-promo__slider-proffession-NastyaD {
    transform: translate(-123px, -57px);
}

/* выравнивание цитат сотрудников */

.AboutUs-promo__slider-quote {
    margin-top: 32px;
    color: #000;
    width: 372px;
}

.AboutUs-promo__slider-quote-Kostya {
    width: 430px; 
}

.AboutUs-promo__slider-quote-NastyaD {
    transform: translate(-14px, -53px);
}

/* нижние иконки слайдера */

.AboutUs-promo__slider-icons {
    display: flex;
    margin: 0;
}

.AboutUs-icons {
    width: 198px;
    height: 198px;
    cursor: pointer;
}

/* стрелки слайдера */

.AboutUs-promo-arrow-prev {
    transform: translate(45px, -1768px);
    outline:none;
}

.AboutUs-promo-arrow-next {
    transform: translate(-45px, -1768px);
    outline:none;
}

/* section AboutUs-history */

.AboutUs-history__wrapper {
    padding: 230px 0px 117px 326px;
}

/* текст секции сверху фото */

.AboutUs-history__year {
    color: #F5F6FF;
}

.AboutUs-history__top {
    display: flex;
    color: #F5F6FF;
    margin-top: 16px;
}

.AboutUs-history__top-left {
    width: 423px;
    margin-right: 20px;
}

.AboutUs-history__top-right {
    width: 408px;
}

/* фото в секции AboutUs-history */

.AboutUs-history__img {
    border-radius: 24px;
    margin-top: 24px;
}

/* текст секции ниже фото */

.AboutUs-history__bottom {
    width: 848px;
    color: #F5F6FF;
    margin-top: 24px;
}

/* section AboutUs-achievement */

.AboutUs-achievement__wrapper {
    display: flex;
    padding: 64px 80px 0px 239px;
}

/* контейнеры с текстом */

.AboutUs-achievement__container1,
.AboutUs-achievement__container2 {
    margin-right: 100px;
}

/* верхние числа */

.AboutUs-achievement__wrapper h2 {
    color: #FF7D04;
}

/* section AboutUs-weToday */

.AboutUs-weToday__wrapper {
    padding: 123px 35px 0 35px;
}

/* описание к фото */

.AboutUs-weToday__descr {
    width: 699px;
    margin-top: 24px;
}

/* section AboutUs-weFuture */

.AboutUs-weFuture__wrapper {
    padding: 120px 35px 0 106px;
}

/* для смещения фото */

.AboutUs-weFuture__container {
    width: 1593px;
    display: flex;
    transform: translateX(-432px);
    margin-top: 52px;
}

/* фото */

.AboutUs-weFuture__img {
    transform: scale(1);
    margin-right: 57px;
}

/* контейнер для описания справа от фото */

.AboutUs-weFuture__descr-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 100px 0 52px;
}

/* контейнер для иконки и строки */

.AboutUs-weFuture__descr-row {
    display: flex;
    color: #000;
    font-family: "Unbounded-Regular"; 
    font-size: 24px;
    font-weight: 400;
    align-items: center;
    margin-top: 32px;
}

.AboutUs-weFuture__descr-row-noneMT {
    margin-top: 0px;
}

/* иконки слева от описания */

.AboutUs-weFuture__descr-icon {
    width: 35px;
    height: 32px;
    margin-right: 24px;
}

/* section AboutUs-whyWe */

.AboutUs-whyWe__wrapper {
    padding: 140px 115px 40px 133px;
}

/* заголовок */

.AboutUs-whyWe__title {
    color: #232323;
}

/* контейнер строк */

.template__table {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    position: relative;
    justify-content: center;
}

/* контейнер строки */

.template__table__row {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    position: relative;
}

.template__table__row:not(:last-child) {
    border-bottom: 1px solid #707077;
}

/* левая часть строки */

.template__table__row-left {
    display: flex;
    gap: 30px;
    flex-basis: 40%;
}

.template__table__row-left__title {
    display: flex;
    align-items: center;
    text-align: center;
}

.template__table__row-left__title-text {
    width: 58px;
    color: #FF7D04;
}

.template__table__row-left__descr {
    display: flex;
    position: relative;
}

.template__table__row-left__descr-text {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #232323;
}

/* правая часть строки */

.template__table__row-right {
    display: flex;
    align-items: center;
}

.template__table__row-right__descr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.template__table__row-right__descr-text {
    width: 603px;
    color: #232323;
}

/* для адаптива */

.AboutUs__none768 {
    display: none;
}

.AboutUs__block768 {
    display: block;
}


/* AboutUs__black */

.AboutUs__black {
    width: 1266px;
    position: relative;
    margin: 0 auto 0 auto;
}

/* страница Кейсы */

.Cases__png-bg {
    background: url(../Cases_img/Cases-bg.png) center bottom no-repeat;
    width: 1920px;
    height: 1000px;
    position: relative;
}

/* section Cases */

.Cases, .Cases-afterClick {
    width: 1266px;
    height: 964px;
    background-color: #F5F6FF;
    border-radius: 40px;
    margin: 0 auto;
    padding: 100px 32px 40px 120px;
}

.Cases {
    display: block;
}

.Cases__title {
    color: #000;
}

/* контейнер для слайдера и пунктов */

.Cases__container {
    margin-top: 230px;
    display: flex;
}

/* контейнер для пунктов */

.Cases__filter-items {
    margin-top: 271px;
    margin-right: 70px;
    color: #232323;
    font-family: "Unbounded-Regular"; 
    cursor: pointer;
}

.Cases__filter-item {
    margin-top: 10px;
}

.Cases__filter-item1 {
    margin-top: 0;
    color: #FF7D04;
}

/* контейнер для надписи у слайдера и навигации */

.Cases__swiper-container-title-arrows {
    display: flex;
    position: relative;
}

/* надпись у слайдера */

.Cases__swiper-title {
    color: #707077;
    margin-right: 576px;
}

/* навигация слайдера */

.Cases__swiper__arrow-prev {
    left: 671px !important;
    outline:none;
}

.Cases__swiper__arrow-next {
    left: 718px !important;
    outline:none;
}

/* swiper секции Cases */

.Cases__swiper__container {
    display: flex;
    flex-direction: column;
    width: 797px;
    overflow: hidden;
}

/* slide секции Cases*/

.Cases__swiper__slide {
    width: 696px !important;
    height: 440px !important;
    margin-top: 20px;
}

/* нижняя часть слайдера с кратким описанием проекта */

.Cases__swiper__basement {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* неактивная "кнопка" в нижней части слайдера */

.Cases__swiper__link {
    color: #F5F6FF;
    font-family: "Unbounded-Regular"; 
    width: 186px;
    padding: 10px;
    display: flex;
    justify-content: center;
    border-radius: 13px;
    background: #232323;
    text-decoration: none;
    transition: background .3s ease;
}

/* название слайда в нижней части слайдера */

.Cases__swiper__basement-descr {
    color: #707077;
}

/* дата проекта в нижней части слайдера */

.Cases__swiper__basement-date {
    color: #000;
    font-family: "Unbounded-Regular"; 
}

/* после нажатия на слайд происходит замена секций */
/* новые элементы */
/* секция Cases-afterClick*/

.Cases-afterClick {
    display: none;
}

/* обертка всех элементов*/

.Cases__wrapper-descr {
    display: flex;
}

/* для javascript */

.none {
    display: none;
}

/* контейнер левой части с описанием проекта */

.Cases__container-descr {
    width: 317px;
    margin-right: 39px;
}

/* путь */

.Cases__container-descr__way {
    color: #707077;
}

/* описание проекта */

.Cases__descr-title {
    color: #232323;
    margin-top: 24px;
}

.Cases__descr-subtitle {
    color: #232323;
    margin-top: 6px;
}

.Cases__descr-about-projects {
    color: #232323;
    margin-top: 32px;
}

.Cases__descr-task {
    color: #232323;
    margin-top: 24px;
}

.Cases__descr-item {
    color: #232323;
    margin-top: 8px;
}

.Cases__descr-result {
    color: #232323;
    margin-top: 24px;
}

/* кнопка для возврата к прошлой секции */

.Cases__descr-link {
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    width: 212px;
    height: 40px;
    padding: 8px 40px 8px 32px;
    margin-top: 34px;
    border-radius: 16px;
    border: 1px solid var(--c);
    --c:#232323;
    text-decoration: none;
    cursor: pointer;
}

.Cases__descr-link:hover {
    background-color: #F5F6FF;
    --c:#FF7D04;
    color:#FF7D04;
}

.Cases__descr-link:active {
    background-color: #F5F6FF;
    --c:#EC7202;
    color:#EC7202;
}

.Cases__descr-link-arrow {
    stroke: #FF7D04;
}

/* правая часть секции Cases-afterClick с изображением проекта */

.Cases__container-img {
    margin-right: 63px;
}

/* шрифты */

@font-face {
    font-family: "Unbounded-Regular"; 
    src: url("../fonts/Unbounded-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Unbounded-Black"; 
    src: url("../fonts/Unbounded-Black.ttf") format("truetype");
} 


