.update-container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 100px 60px;
    background-color: #F5F6FF;
    border-radius: 40px;
}
.update-content {
    margin-top: 60px;
    font-family: "Unbounded-Black";
    font-size: 32px;
}

.nav__items {
    max-width: 1266px;
}

.nav__items a {
    font-family: "Open-sans", sans-serif;
}

.nav__items {
    justify-content: space-between;
}

.tabs__items {
    width: auto !important;
}

@media (max-width: 1275px) {
    .mobile-nav-btn {
        display: flex !important;
    }
    .mobile-nav {
        display: flex !important;
    }
    .header {
        display: none !important;
    }
    .mobile-nav-btn-wrap {
        display: block !important;
    }
}

@media (max-width: 1215px) {
    .update-container {
        max-width: 90vw;
    }
}

@media (max-width: 490px) {
    .update-container {
        max-width: 100vw;
        border-radius: 0;
    }
}