/* секция с таблицей */

.services-table__container {
    display: flex;
    flex-direction: column;
    padding: 40px 133px 0 102px;
}

/* строки */

.services-table__row {
    display: flex;
    gap: 24px;
    align-items: center;
    padding: 32px 0 24px;
}

.services-table__row:last-child {
    padding-bottom: 0;
}

.services-table__row:first-child {
    padding-top: 0;
}

/* подводка у строк */

.services-table__row:not(:last-child) {
    border-bottom: 1px solid #707077;
}

/* текст строк */

.services-table__text {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media (max-width: 1300px) {

}

@media (max-width: 992px) {
    .services-table__wrapper {
        padding-bottom: 40px;
    }
    .services-table__container {
        padding: 30px 70px 0 40px;
    }
    .services-table__row {
        flex-direction: column;
        padding: 24px 0 16px;
        gap: 16px;
    }
    .services-table__icon {
        width: 25px;
        height: 25px;
    }
}

@media (max-width: 768px) {
    .services-table__wrapper {
        padding: 0 0 25px 22px;
    }
    .services-table__container {
        padding: 20px 20px 0 0px;
    }
    .services-table__row {
        padding: 20px 0 12px;
        gap: 12px;
    }
    .services-table__icon {
        width: 18px;
        height: 18px;
    }
}
