.comments {
    overflow: hidden;
}

.comments-bg--mobile {
    display: none;
}

.container__comments {
    // background: url(../img/img1/slider__trust.png);
    // width: 1483px;
    // height: 942px;
    // transform: translateX(-7%);
    position: relative;
    // margin-bottom: 145px;
    // padding: 120px 0 123px 0;
    margin: 0 auto;
    padding-bottom: 190px;
}

.comments-bg {
    position: absolute;
    left: -85px;
    z-index: -1;
}

.container__comments h2 {
    padding-top: 120px;
    color: #F5F6FF;
    margin-left: 157px;
}

/* swiper section comments */

.swiper__container__comments__items {
    max-width: 780px;
    height: 520px;
    padding-bottom: 75px;
    // transform: translateX(30%);
    margin: 40px auto 0;
    overflow: visible !important;
    min-width: 0;
}

/* карточки с отзывами */

.comments__items {
    display: flex;
    flex-direction: column;
    align-items: end;
    // width: 780px !important;
    height: 480px !important;
    background-color: #F5F6FF;
    border-radius: 24px;
    // margin-top: 25px;
    // margin-left: 50px;
    padding: 40px 32px 32px 48px;
}

.go-project-comments {
    margin-top: auto;
}

.comment__1, .comment__3 {
    transform: rotate(2deg) !important;
}

.comment__2 {
    transform: rotate(-2deg) !important;
}

/* стрелки свайпера */

.comments__pagination {
    width: 142px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 123px;
    left: 50%;
    transform: translateX(-50%);
}

.trust__arrow__left, .trust__arrow__right {
    width: 31px;
    height: 24px;
    position: static;
}

.trust__arrow__right {
    // transform: translate(-2500%, 800%);
    outline:none;
}

.trust__arrow__left {
    // transform: translate(2500%, 800%);
    outline:none;
}

/* контент отзывов */

.container__comments__items__title {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 32px;
}

.container__comments__items__title > img {
    width: 125px;
    border-radius: 50%;
}

.comments__items__title {
    margin-left: 32px;
}

.comments__items__name {
    font-family: "Unbounded-Black";
    font-size: 24px;
    font-weight: 400;
}

.comments__items__descr {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: 400;
    color: #707077;
}

.comment {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 142.2%;
    // height: 195px;
}

@media (max-width: 1300px) {
    .comments-bg {
        left: -200px;
    }
    .container__comments h2 {
        margin-left: 0;
    }
}

@media (max-width: 992px) {
    .container__comments h2 {
        margin-left: 0;
    }
    .container__comments {
        // max-width: 100vw;
        transform: none;
    }
    .swiper__container__comments__items {
        max-width: 100%;
        transform: none;
    }
    .comments__items {
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .comments-bg--desktop {
        display: none;
    }
    .comments-bg--mobile {
        display: block;
        // width: 100%;
        left: -45px;
    }
    .container__comments h2 {
        padding-top: 67px;
    }
    .swiper__container__comments__items {
        margin-top: 21px;
    }
    .comments__pagination {
        bottom: 28px;
    }
    .container__comments h2 {
        font-size: 32px;
    }
    .comments__items {
        width: 100% !important;
        padding: 30px 18px;
    }
    .comment {
        height: auto;
    }
    .container__comments {
        margin-top: 80px;
        padding: 90px 12px 130px 12px;
    }
    .comments__items {
        height: auto !important;
    }
    .comments__items__descr {
        margin-top: 10px;
    }
    .comment__1 {
        transform: rotate(0) !important;
    }
    .comment__2 {
        transform: rotate(0) !important;
    }
    .comment__3 {
        transform: rotate(0) !important;
    }
    .comment__1 a {
        display: none;
    }
    .comment__2 a {
        display: none;
    }
    .comment__3 a {
        display: none;
    }
    .container__comments__items__title > img {
        width: 64px;
        height: 64px;
    }
    .comments__items__name {
        font-size: 12px;
        font-family: "Unbounded-regular";
    }
    .swiper__wrapper__comments {
        height: auto !important;
    }
    .container__comments {
        margin-bottom: 0;
    }
}