.BitrixEnter__white-bg {
    position: relative;
    max-width: 1266px;
    background: #F5F6FF;
    border-radius: 40px;
    margin: 0 auto 58px auto;
    /*display: none;*/
}

.BitrixEnter__container-title {
    padding: 100px 50px 70px 31px;
}

.BitrixEnter__title {
    position: relative;
    margin-bottom: 0;
}

.BitrixEnter__title-time {
    position: absolute;
    right: 70px;
    top: 207px;
}

.BitrixEnter__container-descr {
    padding: 70px 117px 64px 131px !important;
}

.Bitrix__benefits {
    padding: 0 108px;
}

.benefits-section__container {
    border-radius: 32px;
    border: 1px solid #707077;
    padding: 56px 106px;
    display: flex;
    flex-direction: column;
}

.Bitrix-benefits__subtitle {
    margin-top: 64px;
}

.benefits-section__list {
    margin-top: 32px;
    list-style: url('../img/icon1/check.png');
}

.benefits-section__item {
    font-family: "Unbounded-regular";
    padding-left: 16px;
    font-size: 24px;
    font-weight: 400;
    color: #232323;
    line-height: 2.5;
}

.benefits-section__item_bold {
    color:#FF7D04;
    font-family: "Unbounded-Black";
}

.benefits-section__item_many-mobile {
    display: none;
}

.benefits__container-descr {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 64px;
}

.benefits__container-descr__item {
    display: flex;
    gap: 24px;
    color: #000;
}


.benefits-info {
    margin-top: 38px;
    display: flex;
    gap: 24px;
    align-items: center;
}

.price-wrap {
    text-align: right;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.price-btn {
    padding: 24px 80px 24px 75px;
    display: block;
    border-radius: 40px;
    background: #FF7D04;
    margin-top: 32px;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: #F5F6FF;
    font-weight: 700;
}

.BitrixEnter__white-bg {
    height: auto;
    padding-bottom: 70px;
}

.benefits-info__text {
    margin-top: 0;
    color: #000;
}