.confusion__container {
    background-color: #F5F6FF;
    display: block;
    width: 1266px;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 48px;

}

.confusion__title {
    display: flex;
    justify-content: center;
    margin-right: auto; 
    margin-left: auto;
    padding-top: 48px;
}

.confusion__title__text {
    display: flex;
    justify-content: center;
    margin-right: auto; 
    margin-left: auto;
}

.confusion__wrapper {
    display: flex;
    justify-content: space-between;
}

.confusion__container__left {
    display: flex;
    background: url(../img/img1/rop.png);
    background-repeat: no-repeat;
    width: 401.307px;
    aspect-ratio: 401/671;
    margin-left: 84px;
}

.confusion__descr__container {
    display: flex;
    max-width: 486px;
    gap: 10px;
    flex-direction: column;
}

.confusion__descr__text {
    line-height: normal;
}

.confusion__container__right {
    display: flex;
    flex-direction: column;
    gap: 56px;
    flex-basis: 50%;
    padding-top: 72px;
    padding-right: 136px;
}

@media (max-width: 992px) {
    .confusion__container {
        padding: 45px 16px 45px 18px;
    }
    .confusion__wrapper {
        align-items: center;
    }
    .confusion__container__left {
        flex-basis: auto;
        width: 300px;
        // height: 470px;
        background-size: 100% 100%;
        order: 2;
    }
    .confusion__container__right {
        order: 1;
        padding-right: 0;
    }
}
@media (max-width: 768px) {
    .confusion__title__text {
        font-size: 24px;
    }
    .confusion__descr__title {
        font-size: 20px;
    }
    .confusion__descr__text {
        font-size: 12px;
    }
    .confusion__container__left {
        position: absolute;
        width: 105px;
        // height: 165px;
        margin-left: 0;
        right: -10px;
        top: 10px;
    }
    .confusion__wrapper {
        position: relative;
    }
    .confusion__container__right {
        padding-top: 24px;
        flex-basis: auto;
        gap: 16px;
    }
    .confusion__first-descr {
        max-width: 221px;
    }
}