.bitrix__container {
    background-color: #F5F6FF;
    display: block;
    width: 1266px;
    margin: 0 auto;
    padding: 0;
}

.bitrix__wrapper {
    display: flex;
    gap: 20px;
}

.bitrix__container__left {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    padding-left: 136px;
    gap: 26px;
}

.bitrix-bitrix-img-mobile {
    display: none !important;
}

.bitrix__container__right {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    flex-shrink: 0;
    height: 627px;
    background: url(../img/img1/comma_bg.svg);
    background-repeat: no-repeat;
}

.marker {
    padding-bottom: 109px;
}

.bitrix__left__descr__text {
    line-height: normal;
    max-width: 417px;
}

.bitrix__left__title {
    max-width: 522px;
    padding-bottom: 14px;
}

.bitrix__wrapper__right {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding-top: 314px;
    padding-left: 64px;
}

.bitrix__right__descr__title {
    color: #F5F6FF;
}

.bitrix__right__descr__text {
    color: #F5F6FF;
}

.bitrix__right__descr {
    display: inline-flex;
    flex-direction: column;
}

@media (max-width: 1300px) {
    .bitrix {
        &__container {
            padding: 0 16px 45px 18px;
        }
    }
    .bitrix__container__left {
        flex-basis: auto;
        padding-left: 0;
    }
    .bitrix__container__right {
        flex-basis: auto;
        width: 557px;
    }
    .bitrix-bitrix-img-mobile {
        display: flex !important;
        margin: 0 auto;
        width: 460px;
        background-size: 100% 100%;
        height: auto;
    }
    .bitrix__wrapper__right {
        padding: 250px 0 75px 51px;
    }
    .bitrix-bitrix-img-desktop {
        display: none !important;
    }
    .bitrix__left__descr__text {
        padding-bottom: 0;
        max-width: 100%;
    }
}
@media (max-width: 992px) {
    
}
@media (max-width: 768px) {
    
}