.partner__wrapper {
    background-color: #F5F6FF;
    display: flex;
    margin: 0 auto;
    padding: 88px 0 0;
}

.partner__container__left {
    display: flex;
    padding-left: 136px;
}

.partner__wrapper__left {
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.partner__left__descr__text {
    max-width: 397px;
}

.partner__container__right {
    display: flex;
    flex-direction: column;
}

.partner__right__container__descr {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.partner__wrapper__right {
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.partner__right__title__text {
    color:#FF7D04;
}

.partner__left__img {
    position: relative;
    padding-bottom: 725px;
}

.partner__left__img img{
    left: -385px;
    position: absolute;
}

@media (max-width: 1300px) {
    .partner__container__left {
        padding-left: 0;
    }
    .partner__wrapper {
        padding: 45px 18px 0 20px;
        gap: 50px;
    }
    .partner__left__img {
        padding-bottom: 500px;
    }
    .partner__left__img img {
        background-size: 100% 100%;
        width: 900px;
        left: -142px;
    }
    .partner__wrapper__right {
        gap: 80px;
    }
}
@media (max-width: 992px) {
    .partner__wrapper {
        flex-direction: column;
        gap: 0;
    }
    .partner__left__descr__text {
        max-width: 650px;
    }
    .partner__left__img {
        padding-bottom: 473px;
    }
    .partner__left__img img {
        width: 828px;
        top: -20px;
        left: -44px;
    }
    .partner__wrapper__right {
        gap: 25px;
    }
}
@media (max-width: 768px) {
    .partner__wrapper {
        padding: 45px 18px 0 20px;
    }
    .partner__wrapper__left {
        gap: 18px;
    }
    .partner__left__img img {
        width: 429px;
        left: -53px;
        top: -4px;
    }
    .partner__left__img {
        padding-bottom: 263px;
    }
}