.weare-learning__container {
    max-width: 1266px;
    margin: 0 auto;
    background-color: #F5F6FF;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.weare-learning__wrap {
    padding: 56px 114px 56px 134px;
}