.advantages {
    display: flex;
    justify-content: center;
}

.advantages__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 1920px;
    background-color: #0A7272;
} 

.advantages__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 106px;
    padding-bottom: 61px;
}

.advantages__title__text {
    display: inline-flex;
    color: #F5F6FF;
}

.benefits-tabs {
    overflow: hidden;
    padding-left: 0;
}

.benefit {
    background-color: #0A7272;
    padding: 29px 410px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #F5F6FF;
}

.benefit-title {
    font-family: "Unbounded-Black";
    color: #F5F6FF;
    font-size: 48px;
    font-weight: 900;
}

.benefit-descr {
    max-width: 347px;
    color: #F5F6FF;
    font-size: 14px;
    line-height: normal;
}

.advantages__read__all {
    color: var(--subtitle24-color);
    font-family: var(--subtitle24-font-family);
    font-size: var(--subtitle24-font-size);
}

.read__all {
    background-color: transparent;
    border-radius: 0;
    padding: 0;
    margin-top: 55px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.read__all:hover {
    background-color: transparent;
}


.advantages__read__all__arrow {
    transition: all .1s ease;
}

.arrow__read__all_active {
    transform: rotate(-180deg);
}