.Bitrix-introduction__wrapper {
    display: flex;
    gap: 119px;
    margin-top: 137px;
    padding: 40px 84px 40px 83.94px;
}

.Bitrix-introduction__container-btn {
    position: relative;
    padding: 0;
    background-color: #F5F6FF;
    cursor: pointer;
}

.Bitrix-introduction__container-btn:hover {
    background-color: transparent;
}

.Bitrix-introduction__resetStyle {
    background-color: transparent;
}

.Bitrix-introduction__btn-header {
    color: #232323;
    text-align: center;
    position: absolute;
    top: 230px;
    right: 50px;
}




/* заголовок */

.Bitrix-introduction__title {
    color: #232323;
}

/* подзаголовок */

.Bitrix-introduction__subtitle {
    color: #232323;
    margin-top: 36px;
}

/* описание */

.Bitrix-introduction__descr {
    color: #232323;
    margin-top: 39px;
}