
.ik-element__container{
    background-color: #F5F6FF;
    max-width: 1920px;
    margin: 0 auto;
    height: 100vh;
    max-height: 832px;
}

.left-container {
    background: url('../img/img1/workersCut.png') center center/cover no-repeat;
    height: 100vh;
    max-height: 832px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    padding-bottom: 44px;
}

.left-container__title {
    margin-top: 96px;
    margin-right: 187px;
    color: #F5F6FF;
}

.left-container__buttons {
    margin-right: 146px;
}

.buttons-wrap__button {
    padding: 10px 26px;
    font-size: 14px;
    background-color: #F5F6FF;
    font-family: var(--caption16-font-family);
    border-radius: 80px;
}

.buttons-wrap__button:first-child {
    background-color: #FF7D04;
    color: #F5F6FF;
}

.buttons-wrap {
    max-width: 549px;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.two-sides {
    display: flex;
}

.two-sides__right {
    max-width: 869px;
}

.progress {
    max-width: 391px;
    // overflow-y: scroll;
}

.progress__info {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 100%;
    -webkit-box-orient: vertical;
}

@media (max-height: 700px) {
    .progress__info {
        -webkit-line-clamp: 10;
    }
}
@media (max-height: 540px) {
    .progress__info {
        -webkit-line-clamp: 5;
    }
}

.right-container {
    padding: 90px 0 43px 60px;
}

.progress__wrap {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.progress__wrap:not(:first-child) {
    margin-top: 24px;
}

.ik-about {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description__date {
    font-size: 14px;
}

.go__project {
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    width: 173px;
    height: 40px;
    float: right;
    text-align: center;
    background-color: #F5F6FF;
    color:#232323;
    padding: 8px 32px 8px 40px;
    border-radius: 16px;
    border: 1px solid var(--c);
    --c:#232323;
    text-decoration: none;
}

.go__project:hover {
    background-color: #F5F6FF;
    --c:#FF7D04;
    color:#FF7D04;
}

.go__project:active {
    background-color: #F5F6FF;
    --c:#EC7202;
    color:#EC7202;
}

@media (max-width: 1300px) {
    .left-container {
        padding-left: 20px;
    }
    .right-container {
        padding-right: 20px;
    }
}

@media (max-width: 992px) {
    .two-sides {
        flex-direction: column;
    }
    .left-container {
        width: auto;
        max-height: none;
        height: 440px;
    }
    .progress {
        max-width: 100%;
    }
    .description {
        margin-top: 31px;
    }
    .right-container {
        padding-right: 60px;
    }
    .ik-element__container {
        max-height: none;
        height: auto;
    }
    .portfolio {
        height: auto;
    }
}
@media (max-width: 768px) {
    .ik-about__btn {
        width: auto !important;
    }
    .left-container {
        align-items: start;
        height: 544px;
    }
    .left-container__title {
        margin: 0;       
    }
    .left-container {
        padding: 34px 10px 14px 25px;
    }
    .left-container__buttons {
        margin-right: 0;
        margin-left: auto;
        max-width: 318px;
    }
    .ik-button {
        font-size: 12px !important;
    }
    .buttons-wrap {
        justify-content: end;
    }
    .ik-button--order_1 {
        order: 1;
    }
    .ik-button--order_2 {
        order: 2;
    }
    .ik-button--order_3 {
        order: 3;
    }
    .ik-button--order_4 {
        order: 4;
    }
    .ik-button--order_5 {
        order: 5;
    }
    .right-container {
        padding: 17px 13px;
    }
    .portfolio {
        // height: 100vh;
        // max-height: 832px;
    } 
}

/* портфолио всплывашки */

@media (min-width: 992px) {
    .portfolio {
        overflow: hidden;
        position: relative;
    }
    .portfolio-block {
        height: 100%;
        width: 100%;
        transition: all .3s ease;
    }
    .portfolio-2 {
        position: absolute;
        bottom: -100%;
        left: 50%;
        transform: translateX(-50%);
    }
    .portfolio-3{
        position: absolute;
        bottom: -100%;
        left: 50%;
        transform: translateX(-50%);
    }
    .portfolio-block--showed {
        bottom: 0
    }
}