.BitrixPortal__container-rates__types {
    height: 118px;
}

.BitrixPortal__container-rate__typeItem {
    width: 178px;
}

.BitrixPortal__rate__typeNameInter {
    color: #232323;
    font-family: "Unbounded-Black"; 
    font-size: 16px;
    font-weight: 700;
}

.BitrixPortal__rate__descr {
    color: #232323;
    font-family: "Unbounded-Black"; 
    font-size: 16px;
    font-weight: 700;
    margin-top: 16px;
}

.BitrixPortal__rate__price {
    margin-top: 16px;
}

.BitrixPortal__rate__typeDescr-typePrice {
    display: flex;
    gap: 16px;
}

.BitrixPortal__rate__typeName {
    color: #232323;
    font-family: "Unbounded-Black"; 
    font-size: 32px;
    font-weight: 700;
}

.BitrixPortal__container-rates__support {
    height: 198px; 
    margin-bottom: 18px;
}

.BitrixPortal__container-rates__support-scale {
    padding: 0 74px 0 72px;
}

.BitrixPortal__container-rates__support-scale-3col {
    padding: 0 74px 0 249px;
}

.BitrixPortal__rates-services__btn {
    margin-top: 40px;
}