.Bitrix-whyWe__wrapper {
    padding: 0 116.94px 55px 31px;
}

.Bitrix-whyWe__title {
    color: #232323;
}

.Bitrix__table {
    padding-left: 100px;
    margin-top: 29px;
}

.Bitrix__container-descr__item-img {
    width: 36px;
    height: 29px;
}

@media (max-width: 768px) {
    .Bitrix__container-descr__item-img {
        width: 25px;
        height: 21px;
    }
}