.BitrixPortal__container-title {
    padding: 100px 27px 30px 31px;
}

.Bitrix__type-rates__container {
    display: flex;
    gap: 8px;    
}

.Bitrix__type-rates__item {
    padding: 10px 26px;
    border-radius: 16px;
    border: 1px solid #F5F6FF;
    color: #F5F6FF;
    background-color: inherit;
}

.Bitrix__type-rates__item__active {
    border: none;
    background-color: #FF7D04;
}

.Bitrix__container-descr {
    padding: 64px 117px 64px 131px;
}

.Bitrix__container-descr__item {
    display: flex;
    gap: 24px;
    align-items: center;
}

.Bitrix__container-descr__item:not(:first-child) {
    padding-top: 32px;
}

.Bitrix__container-descr__item:not(:last-child) {
    padding-bottom: 24px;
}

.Bitrix__container-descr__item:not(:last-child) {
    border-bottom: 1px solid #707077;
}

@media (max-width: 1300px) {
    .BitrixPortal__container-title {
        padding: 80px 27px 32px 31px;
    }
    .BitrixPortal__title {
        font-size: 77px;
    }
    .BitrixPortal__title-time {
        right: 30px;
        top: 190px;
    }
}

@media (max-width: 992px) {
    .BitrixPortal__container-title {
        padding: 40px 27px 22px 31px;
    }
    .Bitrix__container-descr {
        padding: 40px 86px 64px;
    }
    .BitrixPortal__title {
        font-size: 58px;
    }
}

@media (max-width: 768px) {
    .BitrixPortal__title {
        font-size: 26px;
    }
    .Bitrix__title-time {
        font-size: 22px !important;
    }
    .Bitrix__type-rates__item {
        padding: 6px;
    }
    .BitrixPortal__container-descr {
        padding: 25px 32px 50px;
    }
    .BitrixPortal-whyWe__title {
        font-size: 23px;
    }
}