
.integration__container {
    background-color: #F5F6FF;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    display: block;
    position: relative;
    width: 1266px;
    padding-bottom: 536px;
    margin: 0 auto;
}

.integration__title {
    display: inline-flex;
    align-items: flex-end; 
    flex-direction: column;
    padding-top: 93px;
    padding-left: 731px;
}

.integration__bg {
    display: flex;
    position: absolute;
    background: url(../img/img1/strange_bg.svg);
    width: 1200px;
    height: 732px;
    gap: 16px;
    bottom: 0;
    left: -210px;
}

.integration__descr__bg {
    display: flex;
    flex-direction: column;
    padding: 339px 89px 91px 247px;
}

.integration__title__bg {
    color: #F5F6FF;
}

.integration__descr__text__bg {
    color: #F5F6FF;
}

@media (max-width: 1300px) {
    .integration__title {
        padding-top: 15px;
    }
}
@media (max-width: 992px) {
    .integration__title {
        padding-left: 460px;
    }
    .integration__bg {
        left: -450px;
        bottom: 30px;
    }
    .integration__descr__bg {
        padding-left: 440px;
    }

}
@media (max-width: 768px) {
    .integration__bg {
        width: 586px;
        height: 345px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .integration__descr__bg {
        padding: 0;
        position: absolute;
        top: 150px;
        left: 242px;
        & h1 {
            font-size: 32px;
        }
    }
    .integration__title__bg:nth-child(2) {
        margin-bottom: 16px;
    }
    .integration__descr__text__bg {
        font-size: 16px !important;
    }
    .integration__container {
        padding-bottom: 235px;
    }
    .integration__title h2 {
        font-size: 24px;
    }
    .integration__bg {
        bottom: 0;
        top: 16px;
        left: -220px;
    }
    .integration__title {
        padding-left: 214px;
    }
    .integration__title {
        padding-left: 160px;
        padding-top: 72px;
    }
    .bitrix__wrapper__right {
        gap: 8px;
    }
    .bitrix__container__left {
        gap: 0;
    }
    .bitrix__left__title {
        padding-bottom: 16px;
    }
    .bitrix__wrapper__right {
        padding: 175px 0 31px 50px;
    }
    .bitrix__left__descr__text {
        margin-bottom: 16px;
    }
    .bitrix-bitrix-img-mobile {
        margin-bottom: 23px;
    }
}