
.ik-element__container{
    background-color: #F5F6FF;
    max-width: 1920px;
    margin: 0 auto;
}

.left-container {
    background: url('../img/img1/workersCut.png') center center/cover no-repeat;
    height: 823px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    padding-bottom: 44px;
}

.left-container__title {
    margin-top: 96px;
    margin-right: 187px;
    color: #F5F6FF;
}

.left-container__buttons {
    margin-right: 146px;
}

.buttons-wrap__button {
    padding: 10px 26px;
    font-size: 14px;
    background-color: #F5F6FF;
    font-family: var(--caption16-font-family);
    border-radius: 80px;
}

.buttons-wrap__button:first-child {
    background-color: #FF7D04;
    color: #F5F6FF;
}

.buttons-wrap {
    max-width: 549px;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.two-sides {
    display: flex;
}

.two-sides__right {
    max-width: 869px;
}

.progress {
    max-width: 391px;
}

.right-container {
    padding: 90px 0 43px 60px;
}

.progress__wrap {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.progress__wrap:not(:first-child) {
    margin-top: 24px;
}

.ik-about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description__date {
    font-size: 14px;
}

.go__project {
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    width: 173px;
    height: 40px;
    float: right;
    text-align: center;
    background-color: #F5F6FF;
    color:#232323;
    padding: 8px 32px 8px 40px;
    border-radius: 16px;
    border: 1px solid var(--c);
    --c:#232323;
    text-decoration: none;
}

.go__project:hover {
    background-color: #F5F6FF;
    --c:#FF7D04;
    color:#FF7D04;
}

.go__project:active {
    background-color: #F5F6FF;
    --c:#EC7202;
    color:#EC7202;
}