.BitrixPortal__container-title {
    padding: 100px 27px 30px 31px;
}

.Bitrix__black-bg {
    position: relative;
    width: 1266px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 33px 31px;
    align-items:center;
}

.Bitrix__type-rates__container {
    display: flex;
    gap: 8px;    
}

.Bitrix__type-rates__item {
    padding: 10px 26px;
    border-radius: 16px;
    border: 1px solid #F5F6FF;
    color: #F5F6FF;
    background-color: inherit;
}

.Bitrix__type-rates__item__active {
    border: none;
    background-color: #FF7D04;
}

.Bitrix__container-descr {
    padding: 64px 117px 64px 131px;
}

/* для адаптива */
.rates-wrapper-block992 {
    display: block;
}
.rates-wrapper-none992 {
    display: none;
}
.table-none768 {
    display: none;
}
.table-block768 {
    display: block;
}

.Bitrix__container-descr__item {
    display: flex;
    gap: 24px;
    align-items: center;
}

.Bitrix__container-descr__item:not(:first-child) {
    padding-top: 32px;
}

.Bitrix__container-descr__item:not(:last-child) {
    padding-bottom: 24px;
}

.Bitrix__container-descr__item-img {
    width: 36px;
    height: 29px;
}

.Bitrix__container-descr__item:not(:last-child) {
    border-bottom: 1px solid #707077;
}