/* верхние числа */

.AboutUs-achievement__wrapper h2 {
    color: #FF7D04;
}

@media (max-width: 1300px) {
    .AboutUs-achievement__wrapper {
        gap: 73px;
        padding: 50px 372px 51px 303px;
    }
}

@media (max-width: 1100px) {
    .AboutUs-achievement__wrapper {
        padding: 58px 353px 55px 294px;
    }
}

@media (max-width: 992px) {
    .AboutUs-achievement__wrapper {
        padding: 45px 350px 43px 247px;
        gap: 0;
    }
    .AboutUs-achievement__container1,
    .AboutUs-achievement__container3 {
        width: 184px;
    }
    .AboutUs-achievement__container2 {
        width: 233px;
    }

}

@media (max-width: 768px) { 
    .AboutUs-achievement__wrapper {
        padding: 20px 458px 20px 310px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .AboutUs-achievement__container2, 
    .AboutUs-achievement__container3 {
        margin-top: 16px;
    }
    .AboutUs-achievement__container1,
    .AboutUs-achievement__container2,
    .AboutUs-achievement__container3 {
        width: 184px;
    }
}