.AboutUs-achievement__wrapper {
    display: flex;
    padding: 66px 80px 0px 239px;
}

/* контейнеры с текстом */

.AboutUs-achievement__container1,
.AboutUs-achievement__container2 {
    margin-right: 100px;
}

/* верхние числа */

.AboutUs-achievement__wrapper h2 {
    color: #FF7D04;
}