.AboutUs-history__wrapper {
    padding: 180px 0px 117px 326px;
}

/* текст секции сверху фото */

.AboutUs-history__year {
    color: #F5F6FF;
}

.AboutUs-history__top {
    display: flex;
    color: #F5F6FF;
    margin-top: 16px;
}

.AboutUs-history__top-left {
    width: 423px;
    margin-right: 20px;
}

.AboutUs-history__top-right {
    width: 408px;
}

/* фото в секции AboutUs-history */

.AboutUs-history__img {
    border-radius: 24px;
    margin-top: 24px;
}

/* текст секции ниже фото */

.AboutUs-history__bottom {
    width: 848px;
    color: #F5F6FF;
    margin-top: 24px;
}