/* текст секции сверху фото */

.AboutUs-history__year {
    color: #F5F6FF;
}

.AboutUs-history__top {
    display: flex;
    gap: 20px;
    color: #F5F6FF;
    margin-top: 16px;
    max-width: 868px;
}

/* фото в секции AboutUs-history */

.AboutUs-history__img {
    border-radius: 24px;
    margin-top: 24px;
}

/* текст секции ниже фото */

.AboutUs-history__bottom {
    width: 848px;
    color: #F5F6FF;
    margin-top: 24px;
}