html {
	scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    scrollbar-width: thin;
}

body::-webkit-scrollbar {
    width: 1vw;               /* width of the entire scrollbar */
}
  
body::-webkit-scrollbar-track {
    background: #181818;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #0A7272;    /* color of the scroll thumb */
    border-radius: 10px;       /* roundness of the scroll thumb */
    border: 1px solid #181818;
}

body, html {
    scroll-behavior: smooth;
}

body {
    background-color: #232323;
}

h1 {
    font-family: "Unbounded-Black";
    font-size: 96px;
    font-weight: 900;
    text-transform: uppercase;
}

h2 {
    font-family: "Unbounded-Black";
    font-size: 64px;
    font-weight: 900;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--caption16-color);
}

.subtitle24 {
    color: #000;
    font-family: "Unbounded-Regular";
    font-size: 24px;
    font-weight: 400;
}

.caption16 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.caption10 {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: 400;
}

.body14 {
    font-family: 'Open Sans', sans-serif;
    color: #232323;
    font-size: 14px;
    line-height: 142.2%;
}

:root {
    --caption16-font-family: 'Open Sans', sans-serif;
    --caption16-font-size: 14px;
    --caption16-font-weight: 400;
    --caption16-color: #232323;
    --subtitle24-color: #F5F6FF;
    --subtitle24-font-family: "Unbounded-Regular";
    --subtitle24-font-size: 24px;
}

button {
    font-family: var(--caption16-font-family);
    background-color: #FF7D04;
    border-radius: 40px;
    border: none;
    padding: 24px 80px 24px 75px;
    cursor: pointer;
}

button:hover {
    background-color: #FF9330;
}

button:active {
    background-color: #EC7202;
}

button:focus {
    outline: none;
}

main {
    overflow: hidden;
    max-width: 100%;
    position: relative;
}

.black__bg {
    max-width: 1270px;
    margin: 0 auto;
}

.services-page, .services-mailer-footer {
    overflow: hidden;
}

.BitrixCloud__white-bg {
    position: relative;
    width: 1266px;
    background: #F5F6FF;
    border-radius: 40px;
    margin: 0 auto 58px auto;
}

/* для адаптива */

.rates-block992 {
    display: flex;
}

.rates-none992 {
    display: none !important;
}

.rates-wrapper-block992 {
    display: block;
}

.rates-wrapper-none992 {
    display: none;
}

.table-none768 {
    display: none;
}

.table-block768 {
    display: block;
}

.bitrix-title-block360 {
    display: block;
}

.bitrix-title-none360 {
    display: none;
}

.AboutUs__none768 {
    display: none;
}

.AboutUs__block768 {
    display: block;
}

.Bitrix__top-white-bg {
    position: relative;
    width: 1266px;
    background: #F5F6FF;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    margin: 0 auto;
}

.Bitrix__white-bg {
    position: relative;
    width: 1266px;
    background: #F5F6FF;
    margin: 0 auto;
}

.Bitrix__bottom-white-bg {
    position: relative;
    width: 1266px;
    background: #F5F6FF;
    margin: 0 auto;
}

.Bitrix__black-bg {
    position: relative;
    width: 1266px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 33px 31px;
    align-items:center;
}

.Bitrix__container-rates-services {
    margin-top: 54px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 25px;
    border: 1px solid #707077;
}

@media (max-width: 1300px) {
    /* доп. страницы битрикса*/
    .Bitrix__top-white-bg,
    .Bitrix__white-bg, 
    .Bitrix__bottom-white-bg,    
    .Bitrix__black-bg {
        width: 992px;
    }
    .Bitrix__container-rates-services {
        margin-top: 40px;
    }
}

@media (max-width: 992px) {
    /* доп. страницы битрикса*/
    .Bitrix__top-white-bg,
    .Bitrix__white-bg, 
    .Bitrix__bottom-white-bg,    
    .Bitrix__black-bg {
        width: 768px;
    }
    .Bitrix__black-bg {
        flex-direction: column;
        gap: 15px;
        align-items: flex-start;
    }
    .Bitrix__container-rates-services {
        margin: 0;
        padding: 0;
        border: none;
    }
    .rates-wrapper-block992 {
        display: none;
    }
    .rates-wrapper-none992 {
        display: block;
    }
    .rates-block992 {
        display: none !important;
    }
    .rates-none992 {
        display: flex !important;
    }
}

@media (max-width: 768px) {
    /* основная стр. битрикса */
    .table-block768 {
        display: none;
    }
    .table-none768 {
        display: block;
    }
    /* доп. страницы битрикса*/
    .Bitrix__top-white-bg,
    .Bitrix__white-bg, 
    .Bitrix__bottom-white-bg,    
    .Bitrix__black-bg {
        width: 360px;
    }
    .Bitrix__black-bg {
        padding: 33px 2px;
    }
    .Bitrix__container-rates-services {
        width: auto;
    }
    .bitrix-title-block360 {
        display: none;
    }
    .bitrix-title-none360 {
        display: block;
    }
    /*?????*/
    .before-click h2 {
        font-size: 32px;
    }    
    .before-click p {
        font-size: 16px;
    }    
    /* страница О нас */
    .AboutUs__none768 {
        display: block;
    }
    .AboutUs__block768 {
        display: none;
    }
}


/* шрифты */

@font-face {
    font-family: "Unbounded-Regular"; 
    src: url("../fonts/Unbounded-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Unbounded-Black"; 
    src: url("../fonts/Unbounded-Black.ttf") format("truetype");
}