.footer {
    background-color: #181818;
}
.footer__container {
    max-width: 1001px;
    margin: 0 auto;
    padding: 107px 0 134px 0;
}

.footer__nav {
    display: flex;
    flex-wrap: wrap;
    gap: 47px 40px;
    padding-left: 0;
}

.navigation__item {
    border-radius: 51px;
    border: 1px solid var(--White, #F5F6FF);
    padding: 16px 24px;
    margin: 0;
}

.footer__container ul {
    list-style-type: none;
    padding-left: 0;
}

.footer {
    color:rgb(245, 246, 255, .8);
}

.footer__nav a {
    text-decoration: none;
    color:rgb(245, 246, 255, .8);
    transition: color .3s ease;
}

.footer__nav a:hover {
    color:rgb(245, 246, 255);
    border-color: rgb(245, 246, 255);
}

.navigation a {
    font-family: "Unbounded-regular";
    font-size: 24px;
}

.contacts-section {
    display: flex;
    margin-top: 160px;
    position: relative;
    gap: 64px;
}

.contacts-section__logo {
    max-width: 182px;
}

.contacts-section__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.contacts-section__title {
    font-size: 40px;
    font-family: "Unbounded-regular";
    color: #F5F6FF;
}

.contact-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    max-width: 467px;
}

.contact {
    display: flex;
    gap: 16px;
}

.contact__icon {
    width: 32px;
    height: 32px;
}

.contact__info {
    font-size: 20px;
    color: #F5F6FF;
}

.footer__rights {
    position: absolute;
    right: 0;
    bottom: -30px;
    color: #D1D2D9;
    font-size: 14px;
}