
.ticker {
    /* position: relative; */
    height: 140px;
    /* left: calc(-50vw + 50%); */
    margin: 108px 0 31px 0;
}

.running__line {
    margin: 0 auto;
    max-width: 1920px;
    overflow-x: hidden;
}

.ticker__wrapper {
    display: flex;
}
  
.ticker__item {
    border-top: 1px solid;
    border-bottom: 1px solid;
    color: white;
    font-family: "Unbounded-Black";
    font-size: 70px;
    font-weight: 500;
    flex-shrink: 0;
    padding: 0 15px;
    animation: ticker 5s linear infinite;
}

@media (max-width: 576px) {
    .ticker__wrapper .ticker__item {
        font-size: 45px;
    }
    .ticker {
        margin: 40px 0 0 0;
    }
}
  
@keyframes ticker {
    0% {
      transform: translateZ(0);
    }
    to {
      transform: translate3d(-100%, 0, 0);
    }
}