

@media (max-width: 1300px) {

    /* страница BitrixCloud */

    .Bitrix-whyWe__wrapper {
        padding: 0 86px 41px 33px;
    }
    .Bitrix__table {
        margin-top: 20px;
        padding-left: 53px;
    }
    .template__table__row {
        padding: 25px 0;
    }
    .template__table__row-right__descr-text {
        width: 466px;
    }
}

@media (max-width: 992px) {
    /* страница BitrixCloud */

    .Bitrix-whyWe__wrapper {
        padding: 0px 93px 40px 33px;
    }
    .template__table__row {
        padding: 16px 0;
        flex-direction: column;
    }
    .template__table__row-left {
        gap: 20px;
    }
    .template__table__row-left__title-text {
        width: 41px;
    }
    .template__table__row-right__descr-text {
        width: 550px;
        margin-top: 8px;
    }

    /* замена текста */

    .rates-block992 {
        display: none;
    }
    .rates-none992 {
        display: flex !important;
    }
    .rates-wrapper-block992 {
        display: none;
    }
    .rates-wrapper-none992 {
        display: block;
    }
}

@media (max-width: 768px) {

    .table-block768 {
        display: none;
    }
    .table-none768 {
        display: block;
    }
    .Bitrix-whyWe__wrapper {
        padding: 0px 32px 20px 32px;
    }
    .template__table {
        margin: 0;
        padding-left: 0px;
    }
    .template__table__row-left {
        gap: 16px;
    }
    .template__table__row-left__title-text {
        width: 16px;
    }
    .template__table__row-right__descr-text {
        width: 300px;
    }
}