/* основная страница битрикса */

/*@media (max-width: 1599px){
    h2 {
        font-size: 45px;
    }
    .white__bg__bitrix {
        width: 360px;
    }
    .strange__background {
        transform: translateX(-180px) scale(0.8) translateY(-100px);
    }
    .container__bitrix {
        width: 1200px;
        height: 680px;
    }
    .descr__right {
        margin-top: 300px;
    }
    .container__header2 {
        margin-right: 100px;
    }
    .container__header2__text {
        font-size: 45px;
        margin-right: 20px;
    }
    .main__title__bitrix {
        margin-top: 310px;
        margin-bottom: 48px;
    }
    .title__confusion {
        margin: 0;
    }
    .right__descr__wrapper{
        display: flex;
        transform: scale(0.8);
    }
    .left__descr h2{
        font-size: 50px;
    }
     .green__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .title__advantages__text {
        display: inline-flex;
        font-size: 40px;
        justify-content: center;
        align-items: center;
    }
    .left__section__gold__partner__bitrix__title {
        font-size: 45px;
    }
    .right__section__gold__partner__bitrix__title {
        font-size: 45px;
    }
    .gold__partner__bitrix__img {
        position: fixed;
        transform: scale(0.71) translateX(-520px);
    }
    .training {
        margin: 0 auto;
    }
    .training__title {
        display: flex;
        justify-content: space-between;
        margin-top: 300px;
    }
    .training__wrapper {
        margin: 0 auto;
    }
    .subtitle24 {
        font-size: 20px;
    }
    .training__container {
        padding: 32px 0;
    }
    .training__right__descr__text {
        width: 483px;
    }
    .left-container{
        flex-basis: 60%;
    }
   
    .training__title {
        margin-left: 90px;
    }
    .green-folder__container h2 {
        font-size: 55px;
    }
    .container__mailer {
        background-size: 80%;
    }
} 

@media  (max-width: 415px){
    .header {
        display: none;
    }
    .strange__background {
        transform: scale(0.45) translateX(590px) translateY(-510px);
    }
    .container__header2__text {
        font-size: 24px;
    }
    .main__title__bitrix {
        font-size: 32px;
    }
    .title__descr {
        transform: translateX(590px);
    }
    .descr__right__forbes {
        display: none;
    }
    .container__bitrix__all {
        height: 350px;
    }
    .descr__confusion__top {
        width: 200px;
        font-size: 12px;
    }
    .descr__block__title__top {
        display: flex;
        margin-bottom: 16px;
    }
    .title__confusion {
        justify-content: center;
        margin-top: 45px;
        font-size: 24px;
        margin-left: 16px;
    }
    .left__img {
        transform: scale(0.3) translateY(-840px);
        margin-left: 10px;
    }
    .wrapper__confusion {
        display: flex;
        flex-direction: column;
    }
    .left__section {
        height: 300px;
    }
    .right__section {
        margin-top: -650px;
        margin-left: 16px;
        gap: 16px;
    }
    .wrapper__bitrix {
        display: flex;
        flex-direction: column;
        margin-left: -65px;
    }
    .top__block {
        margin-bottom: 200px;
        height: 200px;
    }
    .left__descr {
        display: flex;
        flex-basis: auto;
    }
    .right__descr {
        transform: translateY(-160px) translateX(20px);
    }
    .left__descr__title {
        font-size: 32px;
    }
    .right__descr__wrapper {
        transform: translateY(-860px) translateX(70px);
        background-size: 50%;
    }
    .descr__bitrix__block__text {
        font-size: 12px;
    }
    .descr__top__title {
        font-size: 32px;
    }
    .descr__top__text {
        font-size: 16px;
    }
    .descr__bottom__title {
        font-size: 32px;
    }
    .descr__bottom__text {
        font-size: 16px;
    }
    .bottom__block {
        margin-top: 350px;
    }
    .descr__bitrix__block__text__bottom {

    }
}
*/
/* дополнительные страницы битрикса */

@media (max-width: 1399px) {

    /* мейлер */

    /* .form__mailer {
        max-width: 90vw;
        height: auto;
        margin: 0 auto;
    }
    .mailer {
        flex-direction: column;
    }
    .mailer button {
        position:static;
        margin-top: 18px;
        width: 100%;
        padding: 24px 0;
    } */
    // .container__mailer {
    //     height: auto;
    //     transform: none;
    //     padding: 709px 0 119px 0;
    // }
/*     .mailer input[type=text] {
        width: 100%;
    }
    .mailer input[type=tel] {
        margin-right: 0;
    }
    .mailer input[type=tel], .input[type=email] {
        width: 47%;
    }
    .mailer__second-row {
        display: flex;
        gap: 10px;
        justify-content: space-between;
    }
    .mailer__descr {
        margin-top: 8px;
    } */
}

@media (max-width: 1300px) {

    /* header */

    .nav__items {
        width: 992px;
    }
    .tabs__item {
        width: 185px !important;
        padding: 18px 4px 20px 4px;
    }

    /* шрифты */

    .bitrix__header1,
    .bitrixPortal__header1,
    .bitrixEnter__header1 {
        font-size: 84px;
    }
    .bitrix__header2,
    .bitrixPortal__header2,
    .bitrixEnter__header2 {
        font-size: 52px;
    }
    .bitrix__header4 {
        font-size: 14px;
    }
    .subtitle24 {
        font-size: 20px;
    }
    .caption16 {
        font-size: 14px;
    }

    /* фоны */

    .Bitrix__top-white-bg,
    .Bitrix__white-bg, 
    .Bitrix__bottom-white-bg,    
    .Bitrix__black-bg {
        width: 992px;
    }

    /* страница BitrixCloud */

    .BitrixCloud__container-title {
        padding: 80px 27px 73px 31px;
    }
    .Bitrix__title-time {
        font-size: 40px !important;
    }
    .Bitrix__container-descr {
        padding: 62px 86px 64px;
    }
    .Bitrix-whyWe__wrapper {
        padding: 0 86px 41px 33px;
    }
    .Bitrix__table {
        margin-top: 20px;
        padding-left: 53px;
    }
    .template__table__row {
        padding: 25px 0;
    }
    .template__table__row-right__descr-text {
        width: 466px;
    }
    .Bitrix__rates-wrapper {
        padding: 0 33px;
    }
    .Bitrix__container-rates-services {
        margin-top: 40px;
    }
    .Bitrix__container-rates {
        width: 926px;
    }
    .Bitrix__container-rates__types {
        gap: 18px;
        padding: 32px 10px 55px 0;
    }
    .BitrixCloud__title-descr {
        width: 582px;
    }
    .Bitrix__rate__basDescr {
        width: 130px;
    }
    .Bitrix__rate__stanDescr {
        width: 141px;
    }
    .Bitrix__rate__profDescr {
        width: 202px;
    }
    .Bitrix__rate__enterDescr {
        width: 160px;
    }
    .Bitrix__container-rates__support {
        margin: 5px 0 0;
    }
    .Bitrix__container-rates__support-row {
        width: 893px;
    }
    .Bitrix__container-rates__support-name {
        width: 175px;
    }
    .Bitrix__container-rates__support-scale {
        justify-content: inherit;
        align-items: center;
        padding: 0 57px 0 13px;
        gap: 133px;
        width: 690px;
    }
    .Bitrix__container-rates__support-scale-3col {
        gap: 105px;
    }
    .Bitrix__container-rates__support-scale-2col {
        padding-right: 69px;
        gap: 105px;
    }
    .Bitrix__container-rates__support-scale-1col {
        justify-content: end;
        gap: 200px;
    }
    .Bitrix__container-rate__typeItem {
        position: relative;
    }
    .Bitrix__rate__typePrice {
        position: absolute;
        bottom: -36px;
        margin-top: 0;
    }
    .Bitrix__container-services {
        width: 926px;
    }
    .Bitrix__services-prices {
        padding: 16px 15px 16px 0px;
        gap: 55px;
    }
    .Bitrix__services__name {
        width: 210px;
    }
    .Bitrix__container-services__priceItem {
        width: auto;
        gap: 105px;
        padding: 0 24px 0 11px;
    }
    .BitrixPortal__container-services__priceItem {
        gap: 105px;
    }

    /* страница BitrixPortal */

    .BitrixPortal__container-title {
        padding: 80px 27px 32px 31px;
    }
    .BitrixPortal__title {
        font-size: 77px;
    }
    .BitrixPortal__title-time {
        right: 30px;
        top: 190px;
    }
    .BitrixPortal__container-rates__types {
        gap: 8px;
        padding: 32px 17px 45px 0;
    }
    .BitrixPortal__rate__typeDescr-typePrice {
        gap: 28px;
    }
    .BitrixPortal__rate__descr {
        font-size: 14px;
    }
    .BitrixPortal__rate__price {
        bottom: -26px;
        font-size: 16px;
    }
    .BitrixPortal__container-rates__support-scale {
        gap: 130px;
        padding: 0 39px 0 16px;
        width: 690px;
    }
    .BitrixPortal__container-rates__support-scale-3col {
        justify-content: end;
        gap: 82px;
        padding-right: 39px;
    }

    /* страница BitrixEnter */

    .BitrixEnter__container-descr {
        padding: 65px 86px 64px !important;
    }
}

@media (max-width: 992px) {

    /* header */

    .header {
        display: none;
    }
    .nav__items {
        width: 90vw;
        justify-content: space-between;
    }
    .tabs__items {
        width: auto !important;
    }

    /* шрифты */

    .bitrix__header1,
    .bitrixPortal__header1,
    .bitrixEnter__header1 {
        font-size: 63px;
    }
    .bitrix__header2,
    .bitrixPortal__header2,
    .bitrixEnter__header2 {
        font-size: 41px;
    }
    .bitrix__header4,
    .bitrixPortal__header4,
    .bitrixEnter__header4 {
        font-size: 20px;
    }
    .caption16 {
        font-size: 12px;
    }

    /* фоны */

    .Bitrix__top-white-bg,
    .Bitrix__white-bg, 
    .Bitrix__bottom-white-bg,    
    .Bitrix__black-bg {
        width: 768px;
    }
    
    .Bitrix__black-bg {
        flex-direction: column;
        gap: 15px;
        align-items: flex-start;
    }

    /* страница BitrixCloud */

    .Bitrix__container-title {
        padding: 60px 27px 45px 31px;
    }
    .Bitrix__container-descr-time {
        padding: 40px 0 0 31px;
    }
    .Bitrix__title-time {
        font-size: 40px !important;
    }
    .Bitrix__title-descr {
        width: 420px;
    }
    .Bitrix-whyWe__wrapper {
        padding: 0px 93px 40px 33px;
    }
    .template__table__row {
        padding: 16px 0;
        flex-direction: column;
    }
    .template__table__row-left {
        gap: 20px;
    }
    .template__table__row-left__title-text {
        width: 41px;
    }
    .template__table__row-right__descr-text {
        width: 550px;
        margin-top: 8px;
    }
    .Bitrix__container-rates-services {
        margin: 0;
        padding: 0;
        border: none;
    }
    .BitrixPortal__container-rates__types {
        padding: 0;
    }
    .Bitrix__container-rates-wrapperMobile {
        width: auto;
        height: auto;
        border-radius: 25px;
        margin: 30px auto 0;
        padding: 25px 20px 11px 20px;
        border: 1px solid #707077;
    }
    .BitrixCloud__container-rates-wrapperMobile {
        width: 702px;
    }
    .Bitrix__container-services-wrapperMobile {
        position: relative;
        gap: 0px;
        padding-right: 9px;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .Bitrix__container-rates {
        width: auto;
        margin: 0 auto;
        border: none;
        padding: 0;
    }
    .Bitrix__container-rates__types {
        gap: 0;
        height: auto;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    .Bitrix__rate__typeName {
        font-size: 32px;
        font-family: "Unbounded-Regular";
        font-weight: 600;
    }
    .Bitrix__container-rate__typeItem {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        margin-left: 15px;
    }
    .Bitrix__rate__typePrice {
        position: static;
        margin-top: 19px;
        margin-right: 24px;
        font-size: 28px;
        display: flex;
        justify-content: end;
    }
    .Bitrix__services__separPrice {
        font-size: 18px;
    }
    .Bitrix__services__separPrice-large {
        width: 86px;
    }
    .Bitrix__rate__typeDescr {
        font-size: 18px;
        margin-top: 16px;
    }
    .Bitrix__rate__basDescr {
        width: 430px;
    }
    .Bitrix__rate__stanDescr {
        width: 430px;
    }
    .Bitrix__rate__profDescr {
        width: 430px;
    }
    .Bitrix__rate__enterDescr {
        width: 430px;
    }
    .Bitrix__services-title {
        color: #F5F6FF;
        font-family: "Unbounded-Regular";
        font-size: 38px;
        padding: 0;
        margin: 24px 0 24px 35px;
        width: 300px;
    }
    .Bitrix__services__priceItem {
        color: #F5F6FF;
        font-family: "Unbounded-Regular";
        font-size: 38px;
        font-weight: 400;
        margin: 5px 34px;
    }
    .Bitrix__container-services__header-price {
        margin-top: 226px;
    }
    .Bitrix__container-services__header-price__row {
        display: flex;
        gap: 263px;
    }
    .Bitrix__container-services__header-price__row:not(:last-child) {
        border-bottom: 1px solid #707077;
    }
    .Bitrix__container-rates__support-row {
        width: auto;
        gap: 297px;
        align-items: center;
    }
    .Bitrix__container-rates__support-header-nonActive {
        color: #707077;
    }
    .Bitrix__container-rates__support-name {
        width: 230px;
    }
    .Bitrix__container-rates__support-scale {
        padding: 0 0 0 30px;
    }
    .support-scale__3col {
        gap: 133px;
    }
    .support-scale__2col {
        gap: 133px;
    }
    .Bitrix__container-services {
        position: absolute;
        width: 701px;
        left: -20px;
        background-color: #232323;
    }
    .Bitrix__services__name {
        width: 290px;
    }
    .Bitrix__container-services__priceItem {
        padding: 0 24px 0 0px;
        text-align: center;
    }
    .Bitrix__rates-services__btn {
        margin-top: 18px;
    }

    /* страница BitrixPortal */

    .BitrixPortal__container-title {
        padding: 40px 27px 22px 31px;
    }
    .Bitrix__container-descr {
        padding: 40px 86px 64px;
    }
    .BitrixPortal__title {
        font-size: 58px;
    }
    .BitrixPortal__container-rates-wrapperMobile {
        width: 702px;
    }
    .BitrixPortal__services__separPrice {
        width: 100px;
    }
    .BitrixPortal__container-rates__support-row {
        width: auto;
        gap: 324px;
        padding: 19px 0 19px 15px;
    }
    .BitrixPortal__container-rate__typeItem {
        width: auto;
    }
    .BitrixPortal__container-services {
        width: 702px;
        left: 33px;
    }
    .BitrixPortal__services__priceItem {
        margin: 5px 25px;
    }
    .BitrixPortal-introduction__wrapper {
        gap: 40px;
        margin-top: 86px;
    }
    .BitrixPortal-introduction__title {
        font-size: 40px;
    }
    .BitrixPortal__rates-services__btn {
        margin-top: 18px;
    }

    /* страница BitrixEnter */

    .BitrixEnter__container-descr {
        padding-inline: 70px;
        padding: 40px 86px 64px !important;
    }
    .benefits-section__container {
        padding-inline: 45px;
    }
    .benefits-section__item {
        padding-left: 0;
    }
    .canbe-list .benefits-section__item {
        padding-left: 10px;
    }

    /* замена текста */

    .rates-block992 {
        display: none;
    }
    .rates-none992 {
        display: flex !important;
    }
    .rates-wrapper-block992 {
        display: none;
    }
    .rates-wrapper-none992 {
        display: block;
    }
}

@media (max-width: 768px) {

    /* шрифты */
    
    .bitrix__header1,
    .bitrixPortal__header1,
    .bitrixEnter__header1 {
        font-size: 27px;
    }
    .bitrix__header2,
    .bitrixPortal__header2,
    .bitrixEnter__header2 {
        font-size: 24px;
    }
    .bitrix__header3,
    .bitrixPortal__header3,
    .bitrixEnter__header3 {
        font-size: 21px;
    }
    .bitrix__header4,
    .bitrixPortal__header4,
    .bitrixEnter__header4 {
        font-size: 16px;
    }

    /* фоны */

    .Bitrix__top-white-bg,
    .Bitrix__white-bg, 
    .Bitrix__bottom-white-bg,    
    .Bitrix__black-bg {
        width: 360px;
    }

    .Bitrix__black-bg {
        padding: 33px 2px;
    }

    /* страница BitrixCloud */

    .Bitrix__container-title {
        padding: 29px 23px 27px 23px;
    }
    .Bitrix__title {
        margin-bottom: 0;
    }
    .Bitrix__container-descr__item {
        flex-direction: column;
        gap: 18px;
    }
    .Bitrix__type-rates__item {
        padding: 6px;
    }
    .Bitrix__container-descr__item-img {
        width: 25px;
        height: 21px;
    }
    .Bitrix__title-descr {
        width: 278px;
    }
    .bitrix-title-block360 {
        display: none;
    }
    .bitrix-title-none360 {
        display: block;
    }
    .table-block768 {
        display: none;
    }
    .table-none768 {
        display: block;
    }
    .Bitrix__container-descr-time {
        margin-top: 0px;
        flex-direction: column-reverse;
        gap: 8px;
    }
    .Bitrix-whyWe__wrapper {
        padding: 0px 32px 20px 32px;
    }
    .template__table {
        margin: 0;
        padding-left: 0px;
    }
    .template__table__row-left {
        gap: 16px;
    }
    .template__table__row-left__title-text {
        width: 16px;
    }
    .template__table__row-right__descr-text {
        width: 300px;
    }
    .Bitrix__rates-wrapper {
        padding: 0 5px;
    }
    .Bitrix__rates-title {
        margin-left: 17px;
    }
    .Bitrix__container-rates-services {
        width: auto;
    }
    .Bitrix__container-rates-wrapperMobile {
        width: 320px;
        margin: 20px 16px;
        padding: 20px 10px 0;
    }
    .Bitrix__container-services-wrapperMobile {
        position: relative;
        gap: 0px;
        padding-right: 9px;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .Bitrix__container-rates {
        width: 100%;
        margin: 0;
    }
    .Bitrix__rate__typeName {
        font-size: 22px;
    }
    .Bitrix__container-rate__typeItem {
        margin-bottom: 25px;
        margin-left: 0px;
        padding-left: 5px;
    }
    .Bitrix__rate__typePrice {
        margin-top: 16px;
        margin-right: 0;
        font-size: 22px;
    }
    .Bitrix__services__separPrice {
        font-size: 14px;
        width: 64px;
    }
    .Bitrix__services__separPrice-large {
        width: 74px;
        margin-left: -10px;
    }
    .Bitrix__rate__typeDescr {
        font-size: 14px;
    }
    .Bitrix__rate__basDescr {
        width: 256px;
    }
    .Bitrix__rate__stanDescr {
        width: 256px;
    }
    .Bitrix__rate__profDescr {
        width: 256px;
    }
    .Bitrix__rate__enterDescr {
        width: 256px;
    }
    .Bitrix__services-title {
        font-size: 22px;
        margin: 10px;
        padding-left: 7px;
        width: 300px;
    }
    .Bitrix__services__priceItem {
        font-size: 22px;
        margin: -6px 3px;
    }
    .Bitrix__container-services__header-price {
        margin-top: 115px;
    }
    .Bitrix__container-services__header-price__row {
        display: flex;
        gap: 34px;
        width: 300px;
    }
    .Bitrix__container-rates__support-row {
        padding: 14px 0;
        width: 300px;
        gap: 21px;
    }
    .Bitrix__container-rates__support-header-nonActive {
        color: #707077;
    }
    .Bitrix__container-rates__support-name {
        width: 190px;
        margin-left: 5px;
        font-size: 14px;
    }
    .Bitrix__container-rates__support-scale {
        padding: 0 0 0 15px;
    }
    .Bitrix__container-services {
        width: 319px;
        left: -10px;
    }
    .Bitrix__services__name {
        width: 193px;
        padding: 19px 0 19px 10px;
    }
    .Bitrix__container-services__priceItem {
        width: 64px;
        gap: 0px;
        padding: 0px;
    }
    .price-wrap {
        padding-right: 15px;
    }
    .Bitrix__rates-services__btn {
        margin-top: 0;
        padding: 15px 45px;
    }
    /* .form__mailer {
        padding: 40px 50px;
    }
    .container__mailer {
        padding: 0 0 40px 0;
        background-size: 130%;
    }
    .mailer-section {
        margin-top: -154px;
    }
    .mailer-form-wrap {
        position: relative;
    }
    .mailer button {
        position: absolute;
        bottom: -100px;
    }
    .form__mailer {
        max-width: 100vw;
        margin-top: 550px;
        padding-bottom: 60px;
    } */
    
    /* страница BitrixPortal */
    
    .BitrixPortal__title {
        font-size: 26px;
    }
    .Bitrix__title-time {
        font-size: 22px !important;
    }
    .BitrixPortal__container-descr {
        padding: 25px 32px 50px;
    }
    .BitrixPortal-whyWe__title {
        font-size: 23px;
    }
    .BitrixPortal__container-rates__support-check {
        width: 35px;
    }
    .BitrixPortal__container-services {
        left: 21px;
    }
    .BitrixPortal__container-rates__support-row {
        gap: 50px;
    }
    .BitrixPortal__rate__price {
        margin-right: 15px;
    }
    .BitrixPortal__container-services__header-price__row {
        gap: 34px;
    }
    .BitrixPortal-introduction__title {
        font-size: 30px;
    }
    .BitrixPortal__rates-services__btn {
        margin-top: 0;
    }

    /* страница BitrixEnter */

    .BitrixEnter__container-descr {
        padding: 30px 32px 64px !important;
    }
    .benefits-section__wrapper {
        padding: 0 32px;
    }
    .benefits-section__container {
        padding: 32px 20px;
    }
    .benefits-section__item {
        font-size: 16px;
    }
    .Bitrix-benefits__subtitle {
        margin-top: 32px;
    }
    .benefits-section__item_many-desktop {
        display: none;
    }
    .benefits-section__item_many-mobile {
        display: list-item;
    }
    .benefits-section__item {
        line-height: normal;
        vertical-align: baseline;
    }
    .benefits-section__list {
        margin-top: 8px;
    }
    .canbe-list .benefits-section__item {
        padding-left: 20px;
    }
    .BitrixEnter__price-wrap {
        padding: 24px 0 0;
    }
    .price {
        font-size: 30px;
    }
    .price-btn {
        width: auto;
        padding: 15px 45px;
        margin-top: 24px;
    }
    .benefits__container-descr {
        width: 264px;
    }
    .benefits-section__item {
        margin-top: 16px;
    }
    .Bitrix-introduction__subtitle {
        font-size: 16px;
    }
    .benefits__container-descr__item-text {
        font-size: 16px;
    }
    .benefits__container-descr__item-img {
        width: 25px;
        height: 21px;
    }
    .benefits__container-descr__item {
        align-items: center;
    }
    .benefits-info {
        flex-direction: column;
        align-items: start;
        gap: 8px;
    }
    .benefits-info h2 {
        font-size: 32px;
    }
    .Bitrix-introduction__subtitle {
        margin-top: 0;
    }
    .BitrixEnter__title-time {
        justify-content: center;
    }
    .benefits-section {
        // padding-inline: 20px;
    }
}