.Cases {
    width: 1266px;
    background-color: #F5F6FF;
    border-radius: 40px;
    margin: 0 auto 20px auto;
    padding: 100px 32px 40px 120px;
    display: block;
}

.Cases__png-bg {
    background: linear-gradient(#232323 0%, transparent 3%),
     url(../img/img1/Cases-bg.png) center bottom repeat-y;
    width: 1920px;
    position: relative;
    margin: 0 auto;
    // z-index: -1;
}

.Cases__title {
    color: #000;
}

/* контейнер для слайдера и пунктов */

.Cases__container {
    margin-top: 230px;
    display: flex;
}

/* контейнер для пунктов */

.Cases__filter-items {
    margin-top: 271px;
    margin-right: 70px;
    color: #232323;
    font-family: "Unbounded-Regular"; 
    cursor: pointer;
}

.Cases__filter-item {
    margin-top: 10px;
}
.Cases__filter-item:hover {
    opacity: .6;
}

.Cases__filter-item--active {
    color: #FF7D04;
}

/* контейнер для надписи у слайдера и навигации */

.Cases__swiper-container-title-arrows {
    display: flex;
    position: relative;
}

/* надпись у слайдера */

.Cases__swiper-title {
    color: #707077;
    margin-right: 576px;
}

/* навигация слайдера */

.Cases__swiper__arrow-prev {
    left: 671px !important;
    outline:none;
}

.Cases__swiper__arrow-next {
    left: 718px !important;
    outline:none;
}

/* swiper секции Cases */

.Cases__swiper__container {
    display: flex;
    flex-direction: column;
    width: 797px;
    overflow: hidden;
}

/* slide секции Cases*/

.Cases__swiper__slide {
    width: 696px !important;
    height: 440px !important;
    margin-top: 20px;
}

.Cases__swiper__img {
    aspect-ratio: 696/380;
    width: 696px;
    object-fit: cover;
    border-radius: 22px;
}

/* нижняя часть слайдера с кратким описанием проекта */

.Cases__swiper__basement {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* неактивная "кнопка" в нижней части слайдера */

.Cases__swiper__link {
    color: #F5F6FF;
    font-family: "Unbounded-Regular"; 
    padding: 10px;
    display: flex;
    justify-content: center;
    border-radius: 13px;
    background: #232323;
    text-decoration: none;
    transition: background .3s ease;
}

/* название слайда в нижней части слайдера */

.Cases__swiper__basement-descr {
    color: #707077;
}

/* дата проекта в нижней части слайдера */

.Cases__swiper__basement-date {
    color: #000;
    font-family: "Unbounded-Regular"; 
}

@media (max-width: 1300px) {
    // .portfolio-1 .left-container__title {
    //     margin-right: 8px;
    // }
    .Cases__png-bg {
        height: auto;
        background-position: top;
        padding-bottom: 75px;
    }
    .Cases {
        padding-top: 56px;
        max-width: 992px;
        height: auto;
    }
    .Cases__container {
        overflow: hidden;
        margin-top: 0;
        flex-direction: column;
    }
    .Cases__filter-items {
        margin-top: 50px;
    }
    .Cases__swiper__link {
        font-size: 12px;
        width: auto;
        padding: 8px 15px;
    }
}

@media (max-width: 992px) {
    // .portfolio-1 .left-container__title {
    //     margin-right: 187px;
    // }
    .Cases, .Cases-afterClick {
        border-top-left-radius: 0;
    }
    .Cases {
        padding-left: 50px;
        max-width: 768px;
    }
    .Cases__swiper {
        margin-top: 40px;
    }
    .Cases__swiper__container {
        width: auto;
    }
    .Cases__swiper__arrow-next {
        left: auto !important;
        right: 0 !important;
    }
    .Cases__swiper__arrow-prev {
        left: auto !important;
        right: 50px !important;
    }
    .Cases__swiper__img, .Cases__swiper__basement {
        max-width: 98%;
    }
    .Cases__swiper-title {
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    .Cases {
        max-width: 360px;
        padding-inline: 0;
    }
    .Cases__title, .Cases__filter-items {
        margin-left: 32px;
    }
    .Cases__swiper {
        margin-left: 10px;
    }
    .swiper__wrapper__Cases {
        flex-direction: column;
    }
    .Cases__swiper-container-title-arrows {
        display: none;
    }
    .Cases__swiper__slide {
        max-width: 340px !important;
        height: auto !important;
    }
    .Cases__container {
        overflow: visible;
    }
    .Cases__swiper__img, .Cases__swiper__basement {
        max-width: 100%;
        gap: 10px;
    }
    .Cases__swiper__basement-descr, .Cases__swiper__basement-date {
        text-align: center;
        font-size: 12px;
        padding: 8px 6px;
        border-radius: 24px;
        border: 1px solid #707077;
        line-height: normal;
    }
    .Cases__swiper__basement-descr-BigWall {
        display: none;
    }
    .Cases__swiper__basement-date {
        font-family: "Open-sans", sans-serif;
        color: #707077;
    }
    .Cases__swiper__basement-date {
        border: none !important;
    }
    
}